<footer class="footer">
    <p class="part1">
        <a href="javascript:;">家长监护</a>
        <a href="javascript:;">关于我们</a>
        <a href="javascript:;">回到顶部</a>
    </p>
    <p>COPYRIGHT © 2014 – 2016 ALL RIGHTS RESERVED.</p>
    <p>
        <a href="javascript:;">沪网文[2016]0029-029号</a>
        <a href="javascript:;">沪ICP备15054099号-1</a>
        <a href="javascript:;"><img class="img-rfid" src="http://img2.921.com/www/images/gameRFID.png" alt=""></a>
    </p>
    <p>适龄提示：适合18岁以上人群 上海奇速网络有限公司版权所有</p>
</footer>
</body>
</html>
