<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>账户流水</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <script src="__PUBLIC__/js/rem.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/page.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/font_712439_a6o3fmynf14/iconfont.css">
    <style>
        a{ display: inline-block;}
    </style>
</head>
<body>
<header>
    <div class="h_base"></div>
    <div class="tabHost  box-s">
        <a class="iconfont icon-icon4" href="javascript:history.back(-1);"></a>
        <span>账户流水</span>
        <i class="iconfont icon-msnui-more"></i>
        <!-- <p class="bt">知识分享</p> -->
    </div>
</header>
<section class="earnings">
    <a href="<{:U('User/czjilu')}>" style="background: linear-gradient(189deg, #309cfa, #01d5c2);">
        <img src="__PUBLIC__/img/icon0/bill0.png" alt="" style="    width: 1rem;">
        <span>充值记录</span>
    </a>
    <a href="<{:U('User/txjilu')}>" style="background: linear-gradient(189deg, #fe8f16, #feb03e);">
        <img style="vertical-align: text-top;width: 1rem;" src="__PUBLIC__/img/icon0/earnings0.png" alt="">
        <span>提现记录</span>
    </a>
    <a href="<{:U('User/tzjilu')}>" style="background: linear-gradient(189deg, #3f66e0, #26d9ee);">
        <img style="vertical-align: text-top;width: 1rem;" src="__PUBLIC__/img/icon0/bill2.png" alt="">
        <span>投资记录</span>
    </a>
    <a href="<{:U('User/liushui')}>" style="background:#f1faf8;border: 1px solid #00a4a9;">
        <img style="vertical-align: text-top;width: 1rem;" src="__PUBLIC__/img/icon0/bill3.png" alt="">
        <span style="color:#00a4a9;">所有流水</span>
    </a>
</section>
<!--footer star-->
<div class="footer clearfloat">
    <ul>
        <li class="fl box-s active">
            <a href="<{:U('Index/index')}>">
                <span class="icon1"></span>
                <p>首页</p>
            </a>
        </li>
        <li class="fl box-s">
            <a href="<{:U('Shouyi/index')}>">
                <span class="icon2"></span>
                <p>收益</p>
            </a>
        </li>
        <li class="fl box-s">
            <a href="<{:U('User/index')}>">
                <span class="icon3"></span>
                <p>我的</p>
            </a>
        </li>
    </ul>
</div>
<!--footer end-->
</body>
