<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>充值记录</title>
    <link href="__PUBLIC__//css/swiper.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__//css/api.css" />
    <link rel="stylesheet" href="__PUBLIC__//src/css/index.css">   <!--css-->
    <link rel="stylesheet" href="__PUBLIC__//src/css/swiper-4.2.2.min.css"><!--轮播css-->
    <link rel="stylesheet" href="__PUBLIC__//src/css/icon/iconfont.css">
    <script src="__PUBLIC__//src/library/zepto.js"></script><!--页面js-->
    <script src="__PUBLIC__//src/library/swiper-4.2.2.min.js"></script><!--页面js-->
    <script src="__PUBLIC__//src/js/global.js"></script>
</head>
<body style="background:#f1f1f1;">
<header class="header" >
    <div class="h-massage_base"></div>
    <div class="header_message">
        <a class="iconfont icon-xiangshangbiaoshi-copy" href="javascript:history.back(-1);"></a>
        <h2>充值记录</h2>
        <a href="javascript:;"></a>
    </div>
</header>
<!-- <div class="content" onClick="location.href='/books/index.php/Home/index/dtail.html'"> -->
<ul class="recharge_ul">
    <li class="recharge_li">
        <span>充值时间</span>
        <span class="w1">状态</span>
        <span class="w1">充值</span>
    </li>
    <foreach name="arr" item="v">
    <li class="recharge_li">
        <span><{$v.time}></span>
        <span class="w1">充值成功</span>
        <span class="w1">+<{$v.kanbi}></span>
    </li>
    </foreach>
</ul>
</div>
</body>
</html>
