  <title>小说管理系统</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

</head>
<body>  

<header class="navbar-wrapper">
	<div class="navbar navbar-fixed-top">
		<div class="container-fluid cl"> <a class="logo navbar-logo f-l mr-10 hidden-xs" href="__APP__">小说后台</a> <a class="logo navbar-logo-m f-l mr-10 visible-xs" href="__APP__">H-ui</a> 
			<!-- <span class="logo navbar-slogan f-l mr-10 hidden-xs"><a  href="http://www.fondfell.com" target="_blank" style="color:#fff;">分销</a></span>  -->
			<!-- <span class="logo navbar-slogan f-l mr-10 hidden-xs">
				<a  href="<{:U('Login/Client')}>" target="_blank" style="color:#fff;">发专辑</a></span> 
			</span> -->
			<nav class="nav navbar-nav">
				<!-- <ul class="cl">
					<li class="dropDown dropDown_hover"><a href="javascript:;" class="dropDown_A"><i class="Hui-iconfont">&#xe600;</i> 新增 <i class="Hui-iconfont">&#xe6d5;</i></a>
						<ul class="dropDown-menu menu radius box-shadow">
							<li><a href="javascript:;" onclick="article_add('添加资讯','article-add.html')"><i class="Hui-iconfont">&#xe616;</i> 资讯</a></li>
							<li><a href="javascript:;" onclick="picture_add('添加资讯','picture-add.html')"><i class="Hui-iconfont">&#xe613;</i> 图片</a></li>
							<li><a href="javascript:;" onclick="product_add('添加资讯','product-add.html')"><i class="Hui-iconfont">&#xe620;</i> 产品</a></li>
							<li><a href="javascript:;" onclick="member_add('添加用户','member-add.html','','510')"><i class="Hui-iconfont">&#xe60d;</i> 用户</a></li>
						</ul>
					</li>
				</ul> --> 
			</nav>
			<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
				<ul class="cl">
					<li><{$phone}></li> 
					<li class="dropDown dropDown_hover"> <a href="#" class="dropDown_A">
						<if condition="$_SESSION.guanli eq null">代理商
						<else/>管理员
						</if>
				<i class="Hui-iconfont">&#xe6d5;</i></a> 
						<ul class="dropDown-menu menu radius box-shadow">   
							<!-- <li><a href="javascript:;" onClick="editpassword('修改信息','<{:U('Login/editpassword')}>')">个人信息</a> --></li> 
							<!-- <li><a href="javascript:;" onClick="changzh()">切换账户</a></li>    -->
							<li><a href="<{:U('Index/tuichu')}>">退出</a></li>  
						</ul>    
					</li> 
					<!-- <li id="Hui-msg"> <a href="#" title="消息"><span class="badge badge-danger">1</span><i class="Hui-iconfont" style="font-size:18px">&#xe68a;</i></a> </li>  -->
					<li id="Hui-skin" class="dropDown right dropDown_hover"> <a href="javascript:;" class="dropDown_A" title="换肤"><i class="Hui-iconfont" style="font-size:18px">&#xe62a;</i></a>
						<ul class="dropDown-menu menu radius box-shadow"> 
							<li><a href="javascript:;" data-val="default" title="默认（绿色）">默认（绿色）</a></li> 
							<li><a href="javascript:;" data-val="green" title="黑色">黑色</a></li>
							<li><a href="javascript:;" data-val="blue" title="蓝色">蓝色</a></li>
							<li><a href="javascript:;" data-val="red" title="红色">红色</a></li>
							<li><a href="javascript:;" data-val="yellow" title="黄色">黄色</a></li>
							<li><a href="javascript:;" data-val="orange" title="橙色">橙色</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
<script type="text/javascript">
	function logout(){
		$.ajax({
			type:"post", 
			url:"<{:U('Login/logout')}>",
			success:function(data){ 
				if(data.state){
 	 			layer.msg(data.info,{icon:1}); 
 	 		    setTimeout(function(){
 	 			top.window.location.href = data.url;
 	 		     },1500)  
				}else{ 
 	 			layer.msg(data.info,{icon:1}); 
				} 
			},
		});
	} 

	function changzh(){ 
		$.ajax({
			type:"post",
			url:"<{:U('Login/logout')}>",
			success:function(data){
				if(data.state){
					layer.msg('请切换账号',{icon:1});
				    setTimeout(function(){
					top.window.location.href = data.url;
				},1000)}else{
					layer.msg('切换不成功',{icon:0});
				}},
				});
			}

	function editpassword(title,url){
	var index = layer.open({ 
		type: 2,
		title: title,
		content: url
	}); 
	layer.full(index); 
}
</script> 