<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<foreach name="menus" item="topLevel">
			<dl id="menu-member">
				<dt><i class="Hui-iconfont">&#xe60d;</i> <{$topLevel.name}><i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
				<if condition='$topLevel.items neq null'>
					<dd <if condition='CONTROLLER_NAME eq $topLevel.controller'>style="display:block"</if>>
						<ul>
							<foreach name="topLevel.items" item="twoLevel">
								<li <if condition='(ACTION_NAME eq $twoLevel.action) and (CONTROLLER_NAME eq $twoLevel.controller)'>class="current"</if>><a href="<{$twoLevel.url}>" title="<{$twoLevel.name}>"><{$twoLevel.name}></a></li>
							</foreach>
						</ul>
					</dd>
				</if>
			</dl>
		</foreach>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>

<script type="text/javascript">
	function picture_add(title, url) {
		var index = layer.open({
			type: 2,
			title: title,
			content: url,
			shade: 0.6,
			area:['68%','80%']
		});
		// layer.full(index);
	}

	function del(id){
		var con;
		con=confirm("确定删除吗?"); //在页面上弹出对话框
		if(con==true){
			location.href="<{:U('del')}>?id="+id+"";
		}
	}
</script>