<!--_meta 作为公共模版分离出去-->
<include file='Index/meta'/>
<!--/meta 作为公共模版分离出去-->

<title>修改密码</title> 
</head> 
<body>
<div class="page-container">
	  <form action="#" method="post" id="editForm" action="<{:U('Index/editpass')}>">
	  		<div class="row cl" style="margin-top:50px;">
			<label class="form-label col-xs-4 col-sm-2">原始密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="请输入原始密码" id="" name="">
			</div>
		</div>
		<br/>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">新密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="长度为6~16为字符" id="" name="">
			</div>
		</div>
		<br/>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">确认密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="长度为6~16为字符" id="" name="">
			</div>
		</div>
</form> 
</div>
</div>

<!--_footer 作为公共模版分离出去-->
<include file='Index/footer'/>
<!--/_footer /作为公共模版分离出去-->
</body>
</html>



