<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>充值成功</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <script src="/xiangmu/xiaoshuotaiwang/Public/js/rem.js"></script>
    <script type="text/javascript" src="/xiangmu/xiaoshuotaiwang/Public/js/jquery.min.js" ></script>
    <link rel="stylesheet" type="text/css" href="/xiangmu/xiaoshuotaiwang/Public/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/xiangmu/xiaoshuotaiwang/Public/css/page.css"/>
    <link rel="stylesheet" href="/xiangmu/xiaoshuotaiwang/Public/css/font_712439_a6o3fmynf14/iconfont.css">
</head>
<body>
<div class="h_base"></div>
<header>
    <div class="tabHost  box-s">
       
       <!--  <span><img src="__PUBLIC__/images/chongzhi.png"></span> -->
        <i style="width: 100%"></i>
        <!-- <p class="bt">知识分享</p> -->
    </div>
</header>
	<div class="czcg clearfloat">
		<p ><img src="/xiangmu/xiaoshuotaiwang/Public/images/chongzhi.png" style="width:100%;" /></p>
		<!-- <p class="tit">chong成功</p>
		<p class="tit">等待我们联系你沟通</p> -->
        <p><font color="#1dc8bd" size="10">充值成功</font></p>
        <P class="tit" >您的账户成功充值<font color="red"><{$v}></font>书币</P>
         <P class="tit" >活动赠送<font color="red"><{$s}></font>书卷</P>
		<div class="nr clearfloat">
			<p class="ljie"><a href="http://www.youdingb.com/xiangmu/xiaoshuoyipin/index.php/Home/User/chong_zhi.html">返回充值页面</a></p>
			<p class="ljie"><a href="http://www.youdingb.com/xiangmu/xiaoshuoyipin/index.php/Home/Index/index.html">返回主页</a></p>
		</div>
	</div>
</body>
</html>
