
/*首页*/

.topone {
	width: 100%;
	background-color: #fff;
	padding-bottom: 3%;
}

.header {
	width: 100%;
	padding: 5% 0;
	background-color: #fff;
}

.header ul li {
	float: left;
	width: 25%;
	text-align: center;
	font-size: .4rem;
}

.header ul li .tu {
	width: 100%;
	height: 1.1rem;
}

.header ul li img {
	max-width: 35%;
	margin: 0 auto;
	max-height: 1.1rem;
}

.header ul li p {
	color: #333333;
}

.pyxguan {
	width: 94%;
	margin: 0 auto;
	padding: 3% 0;
	background-color: #FDF9D6;
	position: relative;
}

.pyxguan p.tit {
	width: 100%;
	text-align: center;
	color: #FF9922;
	font-size: .8rem; color:red;
}

.pyxguan p.fu-tit {
	color: #8C8C8C;
	width: 100%;
	text-align: center;
	font-size: .4rem;
	margin-top: .2rem;
}

.pyxguan span {
	display: block;
	width: .25rem;
	height: .25rem;
	position: absolute;
	right: 3%;
	top: .2rem;
}

.pyxguan span img {
	width: 100%;
}

.qiandao {
	width: 100%;
	margin-top: 3%;
   height:430px; overflow: hidden;
}

/*.qiandao .top {
	width: 100%;
	padding: 0 3% 0 3%;
	height: 1rem;
	line-height: 1rem;
	border-bottom: 1px solid #E6E6E6;
}*/

.qiandao .top .bt,
.qiandao .top .fu-tit,
.qiandao .top .fu-tit a {
	color: #8C8C8C;
	font-size: .4rem;
}

.qiandao .top .bt a {
	color: #8C8C8C;
}


/*.qiandao .top .fu-tit{
	background: url(../img/27.png) right no-repeat;
	background-size: .25rem;
	padding-right: .4rem;
}*/

.qiandao .middle {
	padding: 8% 0 0;
}

.qiandao .middle .tu {
	margin: 0 auto;
	width: 4.5rem;
	height: 4.5rem;
	text-align: center;
	font-size: .4rem;
	color: #8C8C8C;
	/*background: url(../img/40.png) center no-repeat;
	background-size: contain;*/
}


/*.qiandao .middle p{
    width:80%;
	height:80%;
	background-color: #fff;
    line-height: 100px;
    float: left;
    position: absolute;
    border-radius: 50%;
    left: 10%;
    top: 10%;
}*/

.qiandao .middle .chenggong {
	background: url(../img/47.png) center no-repeat;
	background-size: contain;
}

.qiandao .middle .chenggong p {
	color: #FAEB5A;
}

.qiandao .middle .shibai {
	background: url(../img/44.png) center no-repeat;
	background-size: contain;
}

.qiandao .middle .chenggong p {
	color: #CCCCCC;
}

.qiandao .middle .jhcgong {
	background: url(../img/43.png) center no-repeat;
	background-size: contain;
}

.qiandao .middle .jhcgong p {
	color: #FAEB5A;
}

.qiandao .bottom {
	width: 100%;
	margin: 5% auto 0;
}

.qiandao .bottom .content {
	width: 70%;
	margin: 0 auto;
}

.qiandao .bottom .content ul li {
	width: 45%;
	height: 1.2rem;
	font-size: .4rem;
	color: #FFFFFF;
	text-align: center;
	line-height: 1.2rem;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	padding-left: 10%;
}

.qiandao .bottom .content ul li a {
	color: #FFFFFF;
}

.qiandao .bottom .content ul li.jdu {
	background: #FAEB5A url(../img/24.png) 20% no-repeat;
	background-size: .6rem;
}

.qiandao .bottom .content ul li.jlu {
	background: #FAEB5A url(../img/20.png) 20% no-repeat;
	background-size: .6rem;
}

.qiandao .shouyi {
	width: 100%;
	padding: 0 3%;
	height: 1rem;
	line-height: 1rem;
	border-top: 1px solid #E6E6E6;
	margin-top: 5%;
	text-align: center;
	font-size: .4rem;
	color: #333333;
}

.qiandao .shouyi span {
	display: inline-block;
	width: .3rem;
}

.qiandao .shouyi a {
	color: #333333;
	display: block;
	width: 100%;
}

.qiandao .shouyi span img {
	width: 100%;
}

.liebiao {
	width: 100%;
	background-color: #fff;
	margin-top: 3%;
}

.liebiaotwo {
	margin-top: 0;
}

.liebiao .top {
	width: 100%;
	padding: 0 3%;
	height: 1rem;
	line-height: 1rem;
	border-bottom: 1px solid #E6E6E6;
}

.liebiao .top .bt,
.liebiao .top .fu-tit,
.liebiao .top .fu-tit a {
	color: #8C8C8C;
	font-size: .4rem;
}

.liebiao .content {
	width: 94%;
	margin: 0 auto;
}

.liebiao .content .list {
	width: 100%;
	padding: 3% 0 0;
	border-bottom: 1px solid #E6E6E6;
}

.liebiao .content .list .zuo {
	width: 1.5rem;
	height: 1.5rem;
	font-size: 0;
	text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	overflow: hidden;
}

.liebiao .content .list .zuo span {
	height: 100%;
	line-height: 0;
	vertical-align: middle;
}

.liebiao .content .list .zuo img {
	max-height: 1.5rem;
	max-width: 1.5rem;
}

.liebiao .content .list .you {
	width: 8.2rem;
	margin-left: .3rem;
}

.liebiao .content .list .you .shang {
	width: 100%;
}

.liebiao .content .list .you .shang .left {
	width: 70%;
}

.liebiao .content .list .you .shang .left p.tit {
	font-size: .4rem;
	color: #333333;
	margin-top: .2rem;
}

.liebiao .content .list .you .shang .left p.wxname {
	font-size: .4rem;
	color: #8C8C8C;
	background: url(../img/21.png) left center no-repeat;
	background-size: .4rem;
	padding-left: .5rem;
}

.liebiao .content .list .you .shang .right {
	width: .5rem;
	height: .5rem;
}

.liebiao .content .list .you .shang .right img {
	width: 100%;
}

.liebiao .content .list .you .zhong {
	width: 100%;
	color: #333333;
	font-size: .45rem;
	line-height: 1rem;
}

.liebiao .content .list .you .xia {
	font-size: .4rem;
	color: #333333;
}

.liebiao .content .list .you .time {
	font-size: .4rem;
	color: #8C8C8C;
	line-height: 1rem;
}

.liebiao .content .shouyi {
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	font-size: .4rem;
	color: #666666;
	background-color: #fff;
	float: left;
}

.liebiao .content .shouyi span {
	display: inline-block;
	width: .3rem;
}

.liebiao .content .shouyi a {
	color: #666666;
	display: block;
	width: 100%;
}

.liebiao .content .shouyi span img {
	width: 100%;
}

.xgtouzi {
	width: 100%;
	margin: 3% auto;
	background-color: #fff;
	padding-bottom: 2%;
	padding-top: 2%;
}

.xgtouzi .top {
	width: 100%;
	text-align: center;
}

.xgtouzi .top img {
	width: 20%;
}

.xgtouzi .middle {
	width: 100%;
	text-align: center;
	margin: 2% 0 0;
}

.xgtouzi .middle img {
	width: 10%;
}

.xgtouzi .bottom {
	width: 100%;
	font-size: .4rem;
	color: #8C8C8C;
	text-align: center;
	line-height: 1rem;
}

.xgtouzi .list {
	width: 100%;
	line-height: 1rem;
	font-size: .4rem;
	color: #8C8C8C;
	text-align: center;
	margin-top: .2rem;
}

.xgtouzi .list a {
	font-size: .4rem;
	color: #8C8C8C;
}

.main {
	margin-bottom: 1.8rem;
	width: 100%;
	overflow: hidden;
}


/*今日收益*/

.shouyi {
	width: 100%;
}

.shouyi .top {
	width: 100%;
	background-color: #fff;
}

.shouyi .top .one {
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	border-bottom: 1px solid #E6E6E6;
	font-size: .4rem;
	color: #666666;
	padding-left: 3%;
}

.shouyi .top .two,
.shouyi .top .three {
	width: 94%;
	margin: 0 auto;
	padding: 5% 0 3%;
	border-bottom: 1px solid #E6E6E6;
}

.shouyi .top .two .shang {
	margin: 0 auto;
	width: 4.5rem;
	height: 4.5rem;
	text-align: center;
	line-height: 4.5rem;
	background: url(../img/49.png) center no-repeat;
	background-size: contain;
	color: #fff;
	font-size: .7rem;
}

.shouyi .top .two .xia {
	width: 100%;
	margin-top: 3%;
	line-height: 1rem;
	font-size: .4rem;
	text-align: center;
}

.shouyi .top .two .xia a {
	color: #8C8C8C;
}

.shouyi .top .two .xia span {
	background: url(../img/12.png) left no-repeat;
	background-size: .5rem;
	color: #FF9922;
	padding-left: .6rem;
	display: inline-block;
	margin-left: 4%;
}

.shouyi .top .three .zuo,
.shouyi .top .three .you {
	width: 33%;
	text-align: center;
}

.shouyi .top .three .zuo p.tit,
.shouyi .top .three .you p.tit {
	width: 100%;
	text-align: center;
	font-size: .4rem;
	color: #8C8C8C;
	margin-bottom: 3%;
}

.shouyi .top .three .zuo img,
.shouyi .top .three .you img {
	width: 1.5rem;
	height: 1.5rem;
}

.shouyi .top .three .zuo p.fu-tit,
.shouyi .top .three .you p.fu-tit {
	font-size: .5rem;
	color: #8C8C8C;
}

.shouyi .top .three .line {
	height: 1.7rem;
	border-right: 1px solid #F3F3F3;
	margin-top: .5rem;
}

.shouyi .top .four {
	width: 100%;
	text-align: center;
	height: 1rem;
	line-height: 1rem;
	font-size: .3rem;
	color: #8C8C8C;
}

.shouyi .top .four img {
	width: .35rem;
}

.paihang {
	width: 100%;
	background-color: #fff;
	margin-top: 3%;
}

.paihang p.tit {
	width: 100%;
	text-align: center;
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: .8rem;
	color: red;
	border-bottom: 1px solid #E6E6E6;
	padding-left: 3%;
}

.paihang .content {
	width: 94%;
	margin: 0 auto;
}

.paihang .content .list {
	width: 100%;
	padding: 3% 0;
	border-bottom: 1px solid #E6E6E6;
}

.paihang .content .list:last-child {
	border-bottom: none;
}

.paihang .content .list .zuo {
	width: 70%;
	height: 1.5rem;
	line-height: 1.5rem;
}

.paihang .content .list .zuo ul li {
	float: left;
	margin-right: 3%;
	font-size: .4rem;
	color: #666666;
}

.paihang .content .list .zuo ul li.tu {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	overflow: hidden;
	font-size: 0;
	text-align: center;
}

.paihang .content .list .zuo ul li.tu span {
	display: inline-block;
	height: 100%;
	line-height: 0;
	vertical-align: middle;
}

.paihang .content .list .zuo ul li.tu img {
	max-width: 1.5rem;
	max-height: 1.5rem;
}

.paihang .content .list .you {
	height: 1.5rem;
	line-height: 1.5rem;
	color: #FF9922;
	font-size: .4rem;
}


/*我*/

.center-top {
	width: 100%;
	background-color: #fff;
	padding: 8% 0;
}

.center-top .tu {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	overflow: hidden;
	font-size: 0;
	text-align: center;
	margin: 0 auto;
}

.center-top .tu span {
	display: inline-block;
	height: 100%;
	line-height: 0;
	vertical-align: middle;
}

.center-top .tu img {
	max-height: 2rem;
	max-width: 2rem;
}

.center-top p.tit {
	font-size: .4rem;
	color: #333333;
	text-align: center;
	margin-top: .2rem;
}

.center-top p.wxname {
	font-size: .4rem;
	color: #8C8C8C;
	margin-top: .1rem;
	text-align: center;
}

.center-top p.wxname input {
	border: none;
	width: 15%;
	text-align: center;
}

.center-top p.wxname img {
	width: .4rem;
	display: inline-block;
	/*margin-right: .2rem;*/
}

.center-bottom {
	width: 100%;
	margin-top: 3%;
	background-color: #fff;
}

.center-bottom .top {
	width: 100%;
	border-bottom: 1px solid #E6E6E6;
}

.center-bottom .top ul li {
	width: 33%;
	text-align: center;
	border-right: 1px solid #E6E6E6;
	padding: 9% 0;
	float: left;
}

.center-bottom .top ul li .tu {
	text-align: center;
	vertical-align: middle;
	width: .9rem;
	height: .9rem;
	margin: 0 auto;
	font-size: 0;
}

.center-bottom .top ul li .tu span {
	display: inline-block;
	height: 100%;
	line-height: 0;
	vertical-align: middle;
}

.center-bottom .top ul li .tu img {
	vertical-align: middle;
	max-width: .9rem;
	max-height: .9rem;
}

.center-bottom .top ul li p.tit {
	text-align: center;
	font-size: .4rem;
	color: #333333;
	margin-top: .2rem;
}

.center-bottom .top ul li a {
	display: block;
	color: #333333;
}

.center-bottom .top ul li:last-child {
	border-right: none;
}

.center-bottom .top:last-child {
	border-bottom: none;
}


/*我的账户*/

.wdzhtu {
	width: 4rem;
	height: 4rem;
	margin: 5% auto;
}

.wdzhtu img {
	max-height: 4rem;
	max-width: 4rem;
}

.wdprice {
	color: #333333;
	font-size: .8rem;
	text-align: center;
	width: 100%;
}
.bukeyong {
	color: #999999;
	font-size: 11px;
	text-align: center;
	width: 100%;
}

.wdbtn {
	width: 94%;
	margin: 7% auto 0;
}

.wdbtntwo {
	width: 100%;
	margin: 7% auto 0;
}

.wdbtn .chongzhi {
	width: 100%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	height: 1.4rem;
	line-height: 1.4rem;
	color: #fff;
	background-color: #FAEB5A;
	text-align: center;
	font-size: .45rem;
	border: 1px solid #E3D54A;
}

.wdbtn .tixian {
	background-color: #fff;
	color: #333333;
	margin-top: 5%;
	border: 1px solid #E6E6E6;
}

.wdnr {
	width: 75%;
	line-height: .6rem;
	text-align: center;
	margin: 5% auto 0;
	font-size: .4rem;
	color: #8C8C8C;
	position: relative;
}

.wdnr img {
	width: .4rem;
	position: absolute;
	left: -.5rem;
	top: .1rem;
}


/*充值*/

.czhi {
	width: 100%;
	margin-top: 30px; 
}

.czhi .top {
	width: 80%;
	margin: 0 auto;
	padding-top: 5%;
}

.czhi .top .list {
	width: 100%;
	background-color: #fff;
	padding: 0 3%;
	margin-bottom: 5%;
}

.czhi .top .list .zuo {
	width: 15%;
	position: relative;
}

.radiofour .option {
	width: .6rem;
	height: .6rem;
	position: absolute;
	top: .7rem;
	left: .3rem;
	background: url(../img/2.png) no-repeat;
	background-size: contain;
}

.radiofour input[type="radio"] {
	display: inline-block;
	margin-right: .3rem;
	opacity: 0;
}

.radiofour input[type="radio"]:checked+div {
	background: url(../img/58.png) no-repeat;
	background-size: contain;
}

.czhi .top .list .you {
	width: 75%;
	margin-left: 10%;
}

.czhi .top .list .you .tit {
	line-height: 1rem;
	font-size: .6rem;
	color: #8C8C8C;
	margin-top: .2rem;
}

.czhi .top .list .you .tit img {
	display: inline-block;
	width: .5rem;
	float: left;
	margin-top: .25rem;
	margin-right: .1rem;
}

.czhi .top .list .you .fu-tit {
	font-size: .4rem;
	color: #666666;
	margin-bottom: .3rem;
}

.czhi .top .list .you .fu-tit span {
	color: #FAEB5A;
}
.czhi .tishi{ width: 80%; margin-left: 10%; font-size: 12px; line-height: 20px;
color:#999999; }
.czhi .bottom {
	width: 80%;
	margin: 0 auto;
	padding-top: 5%;
	background-color: #fff;
	padding-left: 21%;
}

.czhi .bottom .shang {
	color: #999999;
	font-size: .5rem;
}

.czhi .bottom .shang input {
	border: none;
	border-bottom: 1px solid #E6E6E6;
	width: 93%;
	margin-bottom: 30px;
}

.czhi .bottom .price {
	width: 100%;
	line-height: 1rem;
	color: #8C8C8C;
	font-size: .4rem;
}

.czhi .bottom .price img {
	width: .3rem;
}


/*提现*/

.txian {
	width: 100%;
}

.txian .content {
	width: 94%;
	margin: 5% auto;
	background-color: #fff;
	padding: 10% 4% 10%;
}

.txian .content .top {
	width: 100%;
	border-bottom: 1px solid #E6E6E6;
	height: 1.2rem;
}

.txian .content .top .zuo {
	width: .8rem;
	height: 1.2rem;
	font-size: .5rem;
	color: #666666;
	line-height: 1.2rem;
}

.txian .content .top .zhong {
	height: 1.2rem;
	font-size: .5rem;
	width: 50%;
}

.input {
	width: 100%;
	height: 1.2rem;
	color: #D9D9D9;
	font-size: .5rem;
	border: none;
}

.txian .content .top .you {
	font-size: .4rem;
	color: #D9D9D9;
	line-height: 1.2rem;
}

.txian .content .top .zuo img {
	width: .5rem;
}

.txian .content p.tit {
	width: 80%;
	margin: 0 auto 0 15%;
	text-align: left;
	font-size: .4rem;
	color: #8C8C8C;
	line-height: .7rem;
	position: relative;
}

.txian .content p.tit span.shu {
	display: inline-block;
	width: .4rem;
}

.txian .content p.tit span.zi {
	display: inline-block;
	width: 90%;
}

.txian .content p.tit img {
	position: absolute;
	left: -.6rem;
	height: .5rem;
	top: .55rem;
}

.pt5 {
	padding-top: 5%;
}


/*充值成功*/

.czcg {
	width: 100%;
	padding: 5% 0;
	text-align: center;
}

.czcg p.tu,
.czcg p.tu img {
	width: 3rem;
	margin: 0 auto 5%;
}

.czcg p.tit {
	width: 100%;
	text-align: center;
	font-size: .4rem;
	color: #8C8C8C;
}

.czcg .nr {
	width: 100%;
	margin-top: 5%;
}

.czcg p.ljie {
	width: 100%;
	font-size: .4rem;
	color: #8C8C8C;
	line-height: .8rem;
	height: .8rem;
	text-align: center;
}

.czcg p.ljie a {
	text-decoration: underline;
	color: #8C8C8C;
}


/*发布计划*/

.czhitwo {
	padding-bottom: 5%;
}

.czhitwo .top {
	padding-top: 0;
}

.czhitwo .top .list,
.czhitwo .bottom {
	background-color: transparent;
	border: 1px solid #E6E6E6;
}

.czhitwo .bottom .shang input {
	background-color: transparent;
}

.czhitwo p.crjine {
	width: 94%;
	margin: 0 auto;
	font-size: .4rem;
	color: #999999;
	height: 1.4rem;
	line-height: 1.4rem;
}

.fabu {
	width: 94%;
	margin: 0 auto;
}

.fabu input.tit {
	width: 100%;
	height: 1.2rem;
	line-height: 1.2rem;
	border: none;
	border-bottom: 1px solid #E6E6E6;
	font-size: .5rem;
	color: #CCCCCC;
	background-color: transparent;
}

.fabu textarea.shuru {
	width: 100%;
	border: none;
	border-bottom: 1px solid #E6E6E6;
	font-size: .4rem;
	color: #CCCCCC;
	padding-top: 3%;
	background-color: transparent;
}

.fabu .xia {
	width: 100%;
	border-bottom: 1px solid #E6E6E6;
	height: 40px;
	line-height: 40px;
}

.fabu .xia input.tit {
	height: 40px;
	line-height: 40px;
	border-bottom: none;
	font-size: .4rem;
}

.fabu .xia span {
	font-size: .4rem;
	color: #CCCCCC;
	display: block;
	width: 30%;
}

.fabu .xia .you {
	width: 50%;
}

.fabu .xia .you samp {
	font-size: .4rem;
	color: #333333;
	font-family: "微软雅黑";
	margin-right: 5%;
}

.toggle {
	position: relative;
	display: block;
	margin: .2rem auto 0;
	width: 40px;
	height: 20px;
	color: white;
	outline: 0;
	text-decoration: none;
	border-radius: 100px;
	border: 2px solid #939A93;
	background-color: #939A93;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
}

.toggle:active {
	background-color: #E3D54A;
}


/*.toggle:hover:not(.toggle--moving):after {background-color: #fff;}*/

.toggle:after {
	display: block;
	position: absolute;
	top: 0px;
	bottom: 2px;
	left: 0px;
	height: 16px;
	width: 16px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	color: white;
	background-color: #F1E1E1;
	border: 2px solid #F1E1E1;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
}

.toggle--on:after {
	content: '';
	border-radius: 50%;
	background-color: #F1E1E1;
}

.toggle--off:after {
	content: '';
	border-radius: 50%;
	background-color: #FFE000;
	border: 2px solid #FFE000;
	-webkit-transform: translate(100%, 0);
	-moz-transform: translate(100%, 0);
	-o-transform: translate(100%, 0);
	transform: translate(100%, 0);
}

.toggle--off {
	background-color: #f00;
	border: 2px solid #f00;
}


/*.toggle--moving {background-color: #1c2429;}*/

.toggle--moving:after {
	color: transparent;
	border-color: #fff;
	background-color: #fff;
	-webkit-transition: color 0s, transform 500ms, border-radius 500ms, background-color 500ms;
	-moz-transition: color 0s, transform 500ms, border-radius 500ms, background-color 500ms;
	-o-transition: color 0s, transform 500ms, border-radius 500ms, background-color 500ms;
	transition: color 0s, transform 500ms, border-radius 500ms, background-color 500ms;
}


/*发布成功*/

.czcg p.ljietwo {
	height: 1.4rem;
	padding-bottom: 3%;
}

.czcg p.ljie a.yqpyou {
	text-decoration: none;
	text-align: center;
	width: 80%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	height: 1.4rem;
	line-height: 1.4rem;
	color: #fff;
	background-color: #FAEB5A;
	text-align: center;
	font-size: .45rem;
	margin: 0 auto;
	display: block;
	border: 1px solid #E3D54A;
}


/*详情*/

.icon4 {
	display: inline-block;
	width: 50px;
	height: 20px;
	line-height: 20px;
	background: url(../img/Group10.png) center no-repeat;
	background-size: contain;
	margin-top: 5px;
	color: #fff;
	font-size: .3rem;
	text-align: center;
	padding-left: 6px;
	margin-left: .1rem;
}

.detail {
	width: 100%;
	margin-top: 3%;
}

.detail .one {
	width: 100%;
	background-color: #fff;
}

.detail .one p.tit,
.detail .two p.tit {
	height: 1.2rem;
	line-height: 1.2rem;
	font-size: .4rem;
	color: #8C8C8C;
	padding-left: 3%;
	border-bottom: 1px solid #E6E6E6;
}

.detail .one .xia {
	width: 100%;
	padding: 5% 8%;
}

.detail .one .xia p.bt {
	font-size: .5rem;
	color: #333333;
	margin-bottom: 3%;
}

.detail .one .xia p.nr {
	font-size: .4rem;
	color: #333333;
	margin-bottom: 3%;
}

.detail .one .xia p.time {
	font-size: .4rem;
	color: #8C8C8C;
}

.detail .two {
	width: 100%;
	background-color: #fff;
	margin-top: 3%;
}

.detail .two .xia {
	width: 100%;
	padding: 5% 8%;
}

.detail .two .xia .shang {
	width: 100%;
}

.detail .two .xia .shang ul li {
	width: 14.285%;
	text-align: center;
	float: left;
}

.detail .two .xia .shang ul li img {
	width: 75%;
}

.wdbtnthree {
	width: 100%;
	margin: 3% auto 0;
}

.detail .three .xia .shang ul li {
	width: 11.111%;
}

.detail .three .xia .shang ul li img {
	width: 100%;
}

.detail .three .xia {
	border-bottom: 1px solid #E6E6E6;
	padding-bottom: 3%;
}

.xgtouzitwo {
	margin: 3% auto 0;
}


/*客服*/

.kefu {
	width: 100%;
}

.kefu .banner {
	width: 100%;
	height: 6rem;
	background: url(../img/46.png) center no-repeat;
	background-size: cover;
	text-align: center;
	line-height: 6rem;
	color: #fff;
	font-size: .7rem;
}

.kefu .content {
	width: 100%;
	background-color: #fff;
	padding: 0 8%;
}

.kefu .content .list {
	width: 100%;
	height: 2rem;
	border-bottom: 1px solid #E6E6E6;
	padding-left: 25%;
}

.kefu .content .list .zuo {
	width: 1rem;
	margin-top: .5rem;
}

.kefu .content .list .zuo img {
	width: 1rem;
}

.kefu .content .list .zuosan img {
	width: .8rem;
}

.kefu .content .list .you {
	width: 60%;
	margin-top: .5rem;
	margin-left: 3%;
}

.kefu .content .list .you p.bt {
	font-size: .5rem;
	color: #333333;
}

.kefu .content .list .you p.mingzi {
	font-size: .4rem;
	color: #8C8C8C;
}

.kefu .content .list:last-child {
	border-bottom: none;
}


/*打卡*/

.daka {
	width: 90%; 
 margin-left: 5%;
}

.daka .top{
	width: 100%; 
}

.daka .top img {
	width: 100%; height: auto;
}

.daka .top {
	margin-bottom: 0%;
}

.daka .tishi {
	width: 85%;
	text-align: left;
	font-size: .4rem;
	color: #8C8C8C;
	margin: 0 auto 0 8.2%;
	line-height: .7rem;
}

.daka .tishi span {
	color: #FBE15C;
	display: inline-block;
	width: .5rem;
	text-align: center;
}

.daka .tishi span img {
	width: .4rem;
}

.daka .toptwo {
	position: relative;
}

.daka .toptwo p.tedingshu {
	position: absolute;
	color:red;
	left: 39%;
	top: 38%; z-index: 1000;
}


/*新手课堂*/

.ketang {
	width: 100%;
}

.ketang .banner,
.ketang .banner img {
	width: 100%;
}

.ktctent {
	width: 100%;
	padding: 0 4% 7%;
}

.ktctent .top {
	width: 100%;
	padding: 3% 0;
}

.ktctent .top p.one,
.ktctent .top p.two {
	width: 100%;
	text-align: center;
}

.ktctent .top p.one img {
	width: 25%;
}

.ktctent .top p.two img {
	width: 25%;
}

.ktctent .top p.three {
	text-align: center;
	width: 100%;
	font-size: .45rem;
	color: #FBE15C;
}

.ktctent .xia {
	width: 100%;
	margin-top: 5%;
}

.ktctent .xia ul li {
	font-size: .4rem;
	color: #666666;
	width: 100%;
	float: left;
	line-height: .8rem;
}

.ktctent .xia ul li.bt {
	margin-bottom: .1rem;
}

.ktctent .middle {
	width: 100%;
}

.ktctent .middle p.tit {
	font-size: .4rem;
	color: #666666;
}

.ktctent .middle .ctent {
	width: 100%;
}

.ktctent .middle .ctent .list {
	width: 100%;
	position: relative;
	text-align: center;
	font-size: .4rem;
	color: #666666;
}

.ktctent .middle .ctent .list p.tu,
.ktctent .middle .ctent .list p.tu img {
	width: 1.5rem;
	margin: 0 auto .1rem;
}

.ktctent .middle .ctent .list p.tutwo,
.ktctent .middle .ctent .list p.tutwo img {
	width: .8rem;
	margin: .1rem auto;
}

.ktctent .middle .ctent .list p.tuthree,
.ktctent .middle .ctent .list p.tuthree img {
	width: 1.2rem;
	margin: .1rem auto;
}

.ktctent .middle .ctent .listtwo .zuonr {
	position: absolute;
	left: 0;
	top: 2.2rem;
	font-size: .4rem;
	color: #666666;
}

.ktctent .middle .ctent .listtwo .zuonr p {
	text-align: left;
}

.ktctent .middle .ctent .listtwo .younr {
	position: absolute;
	right: 0;
	top: 2.2rem;
	font-size: .4rem;
	color: #666666;
}

.ktctent .middle .ctent .listtwo .younr p {
	text-align: right;
}

.ktctent .bottom {
	width: 100%;
	margin-top: 8%;
}

.ktctent .bottom .shang {
	width: 100%;
	text-align: center;
	line-height: 1rem;
	font-size: .4rem;
	color: #FF113B;
	background: url(../img/73.png) 2rem no-repeat;
	background-size: 1rem;
	padding-left: 1.1rem;
}

.ktctent .bottom .xia {
	width: 100%;
	text-indent: 2em;
	font-size: .4rem;
	color: #666666;
	line-height: .7rem;
}

.circle {
	width: 4.6rem;
	height: 4.6rem;
	position: relative;
	border-radius: 50%;
	background: #f9eb5c;
	margin: 0 auto;
}

.pie_left,
.pie_right {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.circle .left,
.circle .right {
	width: 100%;
	height: 100%;
	background: #e6e6e6;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}

.pie_right,
.right {
	clip: rect(0, auto, auto, 2.3rem);
}

.pie_left,
.left {
	clip: rect(0, 2.3rem, auto, 0);
}

.mask {
	width: 90%;
	height: 90%;
	border-radius: 50%;
	left: 5%;
	top: 5%;
	background: #FFF;
	position: absolute;
	text-align: center;
	line-height: 3.6rem;
	font-size: .42rem;
	font-weight: bold;
	color: #8C8C8C;
}

.mask .hidden {
	display: none;
}

.mask img {
    width:85%;
	margin-top: 10px;
}

.qiandaoa {
	position: absolute;
	top: 12px;
	left: 0;
	text-align: center;
	width: 100%;
}

.qiandaoa em {
	font-style: inherit;
	padding: 4px 6px;
	background: #fff;
}