<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <link href="../css/swiper.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/src/css/api.css" />
    <link rel="stylesheet" href="__PUBLIC__/src/css/index.css">
    <link rel="stylesheet" href="__PUBLIC__/src/css/swiper-4.2.2.min.css"><!--轮播css-->
    <link rel="stylesheet" href="__PUBLIC__/src/css/icon/iconfont.css"><!--图标字体-->
    <script src="__PUBLIC__/src/library/zepto.js"></script><!--页面js-->
    <script src="__PUBLIC__/src/library/swiper-4.2.2.min.js"></script><!--页面js-->
    <script src="__PUBLIC__/src/js/global.js"></script>
</head>
<body>
<header class="header">
    <div class="base"></div>
    <div class="breadcrumbs">
        <div class="u-search">
            <form class="form" action="">
                <div class="search-div" onClick="location.href='<{:U('Sousuo/index')}>'">
                    <i class="iconfont icon-sousuo"></i>
                    <input class="search-input" type="search" placeholder="搜索我的书架、在线书库">
                </div>
                <button type="button" class="button" onClick="location.href='<{:U('Paihang/index')}>'">排行</button>
            </form>
        </div>
        <div class="nav">
        <a class="nav_a" href="<{:U('index_gratis')}>">首页</a>
        <a class="nav_a current" href="<{:U('index')}>">女频</a>
        <a class="nav_a" href="<{:U('index_male')}>">男频</a>
        <a class="nav_a" href="<{:U('index_publish')}>">出版</a>
        <!--<a class="nav_a" href="<{:U('Shuku/index')}>">书库</a>-->
        </div>
    </div>
</header>
<div class="content">
    <div class="m-swiper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
            <foreach name="lunbo" item="v">
                <div class="swiper-slide">
                <if condition="$v.gotos eq 0">
                <a href="<{$v.weburl}>">
                </if>

                <if condition="$v.gotos eq 1">
                <a href="<{$v.weburl}>">
                </if>

                <if condition="$v.gotos eq 2">
                <a href="<{$v.weburl}>">
                </if>

                <img src="http://www.youdingb.com/xiangmu/xiaoshuoyipin/Public/<{$v.images}>" alt="">

                </a>

                </div>
            </foreach>
             <!--    <div class="swiper-slide"><a href="javascript:;"><img src="__PUBLIC__/src/images/ind-02.png" alt=""></a></div>
                <div class="swiper-slide"><a href="javascript:;"><img src="__PUBLIC__/src/images/ind-03.png" alt=""></a></div>
                <div class="swiper-slide"><a href="javascript:;"><img src="__PUBLIC__/src/images/ind-04.png" alt=""></a></div>
                <div class="swiper-slide"><a href="javascript:;"><img src="__PUBLIC__/src/images/ind-05.png" alt=""></a></div> -->
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Initialize Swiper -->
        </div>
        <script>
            var swiper = new Swiper('.swiper-container', {
                pagination : {
                    el        : '.swiper-pagination',
                    clickable : true,
                },
                loop       : true,
                delay      : 1500,
                autoplay   : {
                    disableOnInteraction : false,
                },
            });
        </script>
    </div>
    <!-- <div class="m-choice">
        <h3 class="h3">精选</h3>
        <a class="u-text_line" href="javascript:;" >免费已生效，点开即领！</a>
    </div> -->
    <div class="m-recom">
        <div class="u-hd"onClick="location.href='<{:U(resou)}>?id=<{$xiaoshuo1.id}>'" >
            <h2 class="h2"><{$xiaoshuo1.title}></h2>
            <a style="display: flex;align-items: center;" href="javascript:;">
                    	更多<i class="iconfont icon-signboard_right" style="vertical-align: middle;font-size:0.2rem"></i>
                    </a>
        </div>
        <div class="bd">
            <ul class="u-ul_flex">
             <foreach name="xiaoshuo1.xiaoshuo" item="v">


                <li class="li" onClick="location.href='<{:U('Index/dtail')}>?id=<{$v.articleid}>'" >
                    <div class="top">
                        <a href="javascript:;">
                            <img src="http://www.youdingb.com/xiangmu/xiaoshuoyipin/Public/<{$v.images}>" />
                        </a>
                    </div>
                    <div class="button">
                        <a class="u-line2" href="javascript:;"><{$v.articlename}></a>
                    </div>
                </li>
                </foreach>
                <!-- <li class="li">
                    <div class="top">
                        <a href="dtail.html">
                            <img src="__PUBLIC__/src/images/i-01.png" />
                        </a>
                    </div>
                    <div class="button">
                        <a class="u-line2" href="javascript:;">医妃读心术</a>
                    </div>
                </li>
                <li class="li">
                    <div class="top">
                        <a href="dtail.html">
                            <img src="__PUBLIC__/src/images/i-01.png" />
                        </a>
                    </div>
                    <div class="button">
                        <a class="u-line2" href="javascript:;">医妃读心术</a>
                    </div>
                </li> -->
                <!--<li class="li">
                    <div class="top">
                        <a href="javascript:;">
                            <img src="../src/images/i-01.png"/>
                        </a>
                    </div>
                    <div class="button">
                        <a class="u-line2" href="javascript:;">医妃读心术</a>
                    </div>
                </li>-->
            </ul>
        </div>
    </div>
    <!--强力推荐-->
    <div class="m-recom">
        <div class="u-hd"onClick="location.href='<{:U(resou)}>?id=<{$xiaoshuo2.id}>'" >
            <h2 class="h2"><{$xiaoshuo2.title}></h2>
            <div class="right"><a href="javascript:;">更多</a></div>
        </div>
        <div class="bd">
            <ul class="u-ul_flex">
                 <foreach name="xiaoshuo2.xiaoshuo" item="v">


                <li class="li" onClick="location.href='<{:U('Index/dtail')}>?id=<{$v.articleid}>'" >
                    <div class="top">
                        <a href="javascript:;">
                            <img src="http://www.youdingb.com/xiangmu/xiaoshuoyipin/Public/<{$v.images}>" />
                        </a>
                    </div>
                    <div class="button">
                        <a class="u-line2" href="javascript:;"><{$v.articlename}></a>
                    </div>
                </li>
                </foreach>
               <!--  <li class="li" onClick="location.href='dtail.html'" >
                    <div class="top">
                        <a href="dtail.html">
                            <img src="__PUBLIC__/src/images/i-01.png" />
                        </a>
                    </div>
                    <div class="button">
                        <a class="u-line2" href="dtail.html">医妃读心术</a>
                    </div>
                </li>
                <li class="li" onClick="location.href='dtail.html'" >
                    <div class="top">
                        <a href="javascript:;">
                            <img src="__PUBLIC__/src/images/i-01.png" />
                        </a>
                    </div>
                    <div class="button">
                        <a class="u-line2" href="javascript:;">医妃读心术</a>
                    </div>
                </li>
                <li class="li" onClick="location.href='dtail.html'">
                    <div class="top">
                        <a href="dtail.html">
                            <img src="__PUBLIC__/src/images/i-01.png" />
                        </a>
                    </div>
                    <div class="button">
                        <a class="u-line2" href="javascript:;">医妃读心术</a>
                    </div>
                </li>
                <li class="li" onClick="location.href='dtail.html'">
                    <div class="top">
                        <a href="dtail.html">
                            <img src="__PUBLIC__/src/images/i-01.png" />
                        </a>
                    </div>
                    <div class="button">
                        <a class="u-line2" href="dtail.html">医妃读心术</a>
                    </div>
                </li>
                <li class="li" onClick="location.href='dtail.html'">
                    <div class="top">
                        <a href="javascript:;">
                            <img src="__PUBLIC__/src/images/i-01.png" />
                        </a>
                    </div>
                    <div class="button">
                        <a class="u-line2" href="javascript:;">医妃读心术</a>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>

    <foreach name="xiaoshuo" item="v">

    <div class="m-time-travel">
       <div class="u-hd"onClick="location.href='<{:U(resou)}>?id=<{$v.id}>'" >
            <h2 class="h2"><{$v.title}></h2>
            <div class="right" ><a href="javascript:;">更多</a></div>
        </div>
        <div class="bd">
            <ul class="u-ul_lr">

            <foreach name="v.xiaoshuo1" item="a">

                <li class="li" onClick="location.href='<{:U('Index/dtail')}>?id=<{$a.articleid}>'">
                    <div class="left">
                        <img src="http://www.youdingb.com/xiangmu/xiaoshuoyipin/Public/<{$a.images}>" />
                    </div>
                    <div class="right">
                        <h3 class="h3 u-text_line"><{$a.articlename}></h3>
                        <p class="text">
                            <span class="author"><{$a.author}></span>
                            <span class="u-title1"><{$a.shortname}></span>
                            <span class="u-title2"><{$a.allvisit}></span>
                        </p>
                        <p class="u-line2"><{$a.intro}></p>
                    </div>
                </li>

                </foreach>

               <!--  <li class="li" onClick="location.href='dtail.html'">
                    <div class="left">
                        <img src="__PUBLIC__/src/images/i-01.png" alt="">
                    </div>
                    <div class="right">
                        <h3 class="h3 u-text_line">邪王轻点爱：枭宠医妃</h3>
                        <p class="text">
                            <span class="author">拈花惹笑</span>
                            <span class="u-title1">王爷</span>
                            <span class="u-title2">女尊天下</span>
                        </p>
                        <p class="u-line2">特种女兵军医穿越：战神王爷轻点可以吗？</p>
                    </div>
                </li>
                <li class="li" onClick="location.href='dtail.html'">
                    <div class="left">
                        <img src="__PUBLIC__/src/images/i-01.png" alt="">
                    </div>
                    <div class="right">
                        <h3 class="h3 u-text_line">邪王轻点爱：枭宠医妃</h3>
                        <p class="text">
                            <span class="author">拈花惹笑</span>
                            <span class="u-title1">王爷</span>
                            <span class="u-title2">女尊天下</span>
                        </p>
                        <p class="u-line2">特种女兵军医穿越：战神王爷轻点可以吗？</p>
                    </div>
                </li>
                <li class="li" onClick="location.href='dtail.html'" >
                    <div class="left">
                        <img src="__PUBLIC__/src/images/i-01.png" alt="">
                    </div>
                    <div class="right">
                        <h3 class="h3 u-text_line">邪王轻点爱：枭宠医妃</h3>
                        <p class="text">
                            <span class="author">拈花惹笑</span>
                            <span class="u-title1">王爷</span>
                            <span class="u-title2">女尊天下</span>
                        </p>
                        <p class="u-line2">特种女兵军医穿越：战神王爷轻点可以吗？</p>
                    </div>
                </li> -->
            </ul>
            <ul class="u-ul_flex">
            <foreach name="v.xiaoshuo2" item="b">
               <li class="li" onClick="location.href='<{:U('Index/dtail')}>?id=<{$b.articleid}>'">
                    <div class="top">
                        <a href="javascript:;">
                            <img src="http://www.youdingb.com/xiangmu/xiaoshuoyipin/Public/<{$b.images}>" />
                        </a>
                    </div>
                    <div class="button">
                        <a class="u-line2" href="javascript:;"><{$b.articlename}></a>
                    </div>
                </li>
                </foreach>
               <!--  <li class="li" onClick="location.href='dtail.html'">
                    <div class="top">
                        <a href="javascript:;">
                            <img src="__PUBLIC__/src/images/i-01.png" />
                        </a>
                    </div>
                    <div class="button">
                        <a class="u-line2" href="javascript:;">医妃读心术</a>
                    </div>
                </li>
                <li class="li" onClick="location.href='dtail.html'" >
                    <div class="top">
                        <a href="javascript:;">
                            <img src="__PUBLIC__/src/images/i-01.png" />
                        </a>
                    </div>
                    <div class="button">
                        <a class="u-line2" href="javascript:;">医妃读心术</a>
                    </div>
                </li> -->
                <!--<li class="li">
                    <div class="top">
                        <a href="javascript:;">
                            <img src="../src/images/i-01.png"/>
                        </a>
                    </div>
                    <div class="button">
                        <a class="u-line2" href="javascript:;">医妃读心术</a>
                    </div>
                </li>-->
            </ul>
        </div>
    </div>
    </foreach>
</div>
<!--<section class="pg_activity" onClick="location.href='<{:U(\'Notice/index\')}>'">
    <img src="__PUBLIC__/src/images/activity.png" alt="" />
    <span>活动</span>
</section>-->
<footer class="footer">
    <div class="base"></div>
    <div class="menu">
        <a class="footer_a" href="<{:U('Shujia/index')}>">
            <i class="iconfont icon-yg-shujia"></i>
            <span>书架</span>
        </a>
        <a class="footer_a current" href="<{:U('Index/index')}>"> <i class="iconfont icon-shouye"></i> <span>首页</span> </a>
        <a class="footer_a" href="<{:U('Shuku/index')}>"> <i class="iconfont icon-caidan"></i> <span>书库</span></a>
        <a class="footer_a" href="<{:U('Faxian/index')}>"><i class="iconfont icon-wode"></i><span>我的</span></a>
    </div>
</footer>
<!--<footer class="footer"></footer>-->
</body>
</html>
