<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>关于今日投资</title>
    <meta name="keywords" content="">
    <meta name="description" content=""> 
    <script src="__PUBLIC__/js/rem.js"></script> 
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js" ></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/page.css"/>
    <style type="text/css">
        .img img{ width: 100%; height: auto; }
    </style>
</head>
	<body>
		<div class="ketang clearfloat">
            <!-- banner star -->
         
            <!-- ktctent star -->
            <div class="ktctent clearfloat box-s">
                <div class="top clearfloat img">
                    <div class="shang clearfloat">
                       

                        <p class="three clearfloat">
                        <{$xt.title}>
                        </p>
                    </div><br>
                            <font size="3"><{$xt.jieshao}></font>

                <div class="bottom clearfloat">
                    <div class="shang clearfloat box-s">
                            <{$xt.gongsi}> 
                    </div>
                    <div class="xia clearfloat">
                        <!-- <p>
                            上海享世文化传播有限公司成立于2014年，是一家集移动开发、产品运营、移动社交营销于一体的移动解决方案服务商，旗下运营「习惯投资」「因书缘」「BOOKDATE」「BEMYLOVE」「赚贝」「图骥人力科技」公号矩阵，拥有2000万+粉丝群，目前公司已获数千万A轮融资。
                        </p> -->
                    </div>
                </div>
            </div>
            <!-- ktctent end -->

            <!--xgtouzi star-->
            <div class="xgtouzi clearfloat">
                <div class="top clearfloat">
                    <img src="__PUBLIC__/img/55.png"/>
                </div>
                <div class="middle clearfloat">
                    <img src="__PUBLIC__/img/16.png"/>
                    <img src="__PUBLIC__/img/18.png"/>
                </div>
                <div class="bottom clearfloat">
                    长按识别二维码
                </div>
                <div class="list clearfloat">
                    <a href="<{:U('Shouyi/index')}>">我的收益</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                   <!--  <a href="<{:U('Chongzhi/index')}>">投资</a>&nbsp;&nbsp;|&nbsp;&nbsp; -->
                    <a href="index.html">返回首页</a>
                </div>
            </div>
            <!--xgtouzi end-->
        </div>
	</body>
</html>
