<!--_meta 作为公共模版分离出去-->
<include file='Index/meta'/>
<!--/meta 作为公共模版分离出去-->

<title>项目管理</title>  
</head>  
<body>
<!--_header 作为公共模版分离出去-->
<include file='Index/header'/>  
<!--/_header 作为公共模版分离出去-->
 
<!--_menu 作为公共模版分离出去-->
<include file='Index/leftmenu' />  
<!--/_menu 作为公共模版分离出去--> 

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 项目管理 <span class="c-gray en">&gt;</span> 项目列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav> 
	<div class="Hui-article">
		<article class="cl pd-20"> 
			<div class="text-c"> 
		<form action="<{:U(index)}>" method="post">
		<input type="text" class="input-text" style="width:250px" placeholder="输入项目"  name="id">
		<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索项目</button>
		</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <i ></i> </a><a href="<{:U('add')}>"  class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加项目</a> </span> <span class="r">共有数据：<strong><{$shu}></strong> 条</span> </div>
			
			
			<div class="mt-0">  
				<table class="table table-border table-bordered table-bg table-hover table-sort" width="100%">
					<thead>
						<tr class="text-c"> 
							
							<th width="10">ID</th>
							<th width="10">项目</th>
							<th width="100">推荐首页</th>
							<th width="150">图片</th>
							
							
							
							<th width="150">开始时间</th>
							
							<th width="150">结束时间</th>
							<th width="300">项目介绍</th>
							<th width="50">操作</th>
							
							 
						</tr> 
						<foreach name="arr" item="v">
						<tr class="text-c"> 
							
							<td width="100"><{$v.xiangmu_id}></td>
							
							
							<td width="100"><{$v.xiangmu}></td>
							<td width="100"><if condition="$v.tuijian eq 0">下架&nbsp;&nbsp;
							<a href="<{:U('index')}>?xiangmu_id=<{$v.xiangmu_id}>&tuijian=1"><button>推荐</button></a>
							<else/>推荐&nbsp;&nbsp;<a href="<{:U('index')}>?xiangmu_id=<{$v.xiangmu_id}>&tuijian=0"><button>下架</button></a>
							</if>
							</td>
							<td width="100"><img src="__PUBLIC__/images/<{$v.images}>"  width="50"></td>
							
							
							
							<td width="100"><{$v.statime}></td>
							<td width="100"><{$v.endtime}></td>
							<td width="200"><{$v.jieshao}></td>
							
							
							<td ><a title="编辑" href="<{:U('edit')}>?id=<{$v.xiangmu_id}>"  class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a onclick="del('<{$v.xiangmu_id}>')" class="ml-5"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
						</tr> 
					</foreach>
					</thead> 
					<tfoot>
						
					</tfoot>
				</table>
				<{$btn}>
			</div>
		</article>
	</div> 
</section>

<!--_footer 作为公共模版分离出去-->
<include file='Index/footer'/>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript"> 
 function del(id){
	var con;
	con=confirm("确定删除吗?"); //在页面上弹出对话框
	if(con==true){
		location.href="<{:U('del')}>?id="+id+"";
	}
}
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>