<!--_meta 作为公共模版分离出去-->
<include file='Index/meta'/>
<!--/meta 作为公共模版分离出去-->

<title>意见管理</title>  
</head>  
<body>
<!--_header 作为公共模版分离出去-->
<include file='Index/header'/>  
<!--/_header 作为公共模版分离出去-->
 
<!--_menu 作为公共模版分离出去-->
<include file='Index/leftmenu' />  
<!--/_menu 作为公共模版分离出去--> 

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 频道管理 <span class="c-gray en">&gt;</span> 意见反馈 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav> 
	
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <i ></i> <!-- </a><a href="<{:U('add')}>"  class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加</a> --> </span><span class="r">共有数据：<strong><{$shu}></strong> 条</span> </div>
			
			
			<div class="mt-0">  
				<table class="table table-border table-bordered table-bg table-hover table-sort" width="100%">
					<thead>
						<tr class="text-c"> 
							
							<th>ID</th>
							<th>意见</th>
							<th>时间</th>
							<th>用户id</th>
							<if condition="$_SESSION.guanli neq null">
							<th>操作</th>
							</if>
							 
						</tr> 
						<foreach name="arr" item="v">
						<tr class="text-c"> 
							<!-- <td width="100"><{$v.sortid}></td> -->
							
							<td><{$v.id}></td>
							<td><{$v.yijian}></td>
							<td><{$v.time}></td>
							<td><{$v.user_id}></td>
							<if condition="$_SESSION.guanli neq null">
							<td >								
								<!-- <a title="修改" href="<{:U('edit')}>?id=<{$v.id}>"  class="ml-5" style="text-decoration:none">
									<i class="Hui-iconfont">&#xe6df;</i>
								</a> --> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<a  href="<{:U('del')}>?id=<{$v.id}>" class="ml-5" title="删除">
									<i class="Hui-iconfont">&#xe6e2;</i>
								</a>
							</td></if>
						</tr> 
					</foreach>
					</thead> 
					<tfoot>
						
					</tfoot>
				</table>
				<{$btn}>
			</div>
		</article>
	</div> 
</section>

<!--_footer 作为公共模版分离出去-->
<include file='Index/footer'/>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript"> 
 
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>