<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>充值成功</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <script src="__PUBLIC__/js/rem.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js" ></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/page.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/font_712439_a6o3fmynf14/iconfont.css">
</head>
<body>
<div class="h_base"></div>
<header>
    <div class="tabHost  box-s">
        <a class="iconfont icon-icon4" href="javascript:history.back(-1);"></a>
        <span>充值成功</span>
        <i style="width: 0.7rem"></i>
        <!-- <p class="bt">知识分享</p> -->
    </div>
</header>
	<div class="czcg clearfloat">
		<p class="tu"><img src="__PUBLIC__/img/3.png"/></p>
		<p class="tit">已经提交成功</p>
		<p class="tit">等待我们联系你沟通</p>
		<div class="nr clearfloat">
			<p class="ljie"><a href="<{:U('Xitong/kefu')}>">联系我们</a></p>
			<p class="ljie"><a href="<{:U('Index/index')}>">返回首页</a></p>
		</div>
	</div>
</body>
</html>
