<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>收益</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <script src="__PUBLIC__/js/rem.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/page.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/font_712439_a6o3fmynf14/iconfont.css">
    <style>
        .paihang .content .list{
            display: block;
            width: 100%;
            margin: 0;
            border-bottom: 10px solid #f1f1f1f1;
        }
        .paihang .content .list .zuo ul li{
            color: #fff;
        }
        .tz_f{display: flex;justify-content: space-between; padding-top: 0.2rem;}
        .paihang .content{
            padding: 0;
            margin: 0;
            background: #f1f1f1;
        }
        .paihang{padding-bottom: 0;}
    </style>
</head>
<body>
<header>
    <div class="h_base"></div>
    <div class="tabHost  box-s">
        <a class="iconfont icon-icon4" href="javascript:history.back(-1);"></a>
        <span>投资理财</span>
        <i class="iconfont icon-msnui-more"></i>
        <!-- <p class="bt">知识分享</p> -->
    </div>
</header>
<div class="shouyi clearfloat main">
    <!-- 收益 star
    <div class="top clearfloat">
        <div class="one clearfloat box-s">
            今日收益
        </div>
        <div class="two clearfloat">
            <div class="shang clearfloat">
                +10.00元
            </div>
            <div class="xia clearfloat">
                <a href="<{:U('Tixian/index')}>">
                    账户余额¥<{$money}>
                    <span>提现</span>
                </a>
            </div>
        </div>
        <div class="three clearfloat">
            <div class="zuo clearfloat fl" onclick="location.href = ''" >
                <p class="tit">投资收益</p>
                <img src="__PUBLIC__/img/11.png">
                <p class="fu-tit">¥<{$q}></p>
            </div>
            <span class="fl line"></span>
            <div class="you clearfloat fl" onclick="location.href = '<{:U('hehuoren/index')}>'">
                <p class="tit">团队收益</p>
                <img src="__PUBLIC__/img/10.png">
                <p class="fu-tit">¥<?php if(!empty($st)){echo '<{$t}>';}else{ echo 0;}    ?></p>
            </div>
        </div>
    <!-- 	<div class="four clearfloat box-s">
            <img src="img/48.png">
            资金托管于第三方，已在公安局备案
        </div>
    </div>
    <!-- 收益 end -->
    <!-- paihang star -->
    <div class="paihang">
        <!--<div class="alltop">

       </div>-->
        <p class="tit box-s">
            <a href="<{:U('touzi')}>" class="xiangm"><span>可投资</span></a>
            <a class="active" href="javascript:;"><span>已满额</span></a>
        </p>
        <div class="content">
            <foreach name="info" item="v">
                <div class="list box-s"
                     onclick="location.href = '<{:U('Chongzhi/xiangmuxiangqing')}>?xiangmu_id=<{$v.xiangmu_id}>'"
                >
                    <div class="zuo">
                        <img src="__PUBLIC__/images/<{$v.images}>" class="wenzhang_img" />
                        <ul>
                            <li style="font-size: 18px;"><{$v.xiangmu}></li>
                        </ul>
                    </div>
                    <div class="tz_f">
                        <div class="zuo" style="font-size: 14px; color:#e3571a;">
                            <?php if($v['edu']!==0){
						$z['xiangmu_id']=$v['xiangmu_id'];
						$zong=M('xiangmu')->where($z)->find();
                            echo "总收益".$zong[zongshouyi]."元";} ?>
                            <!-- 总投资额  <{$v.zonge}>元/总收益:<{$v.xiaoyi}> -->
                        </div>
                        <div class="you">
                            <?php if($v['edu']!==0){echo "今天收益".$zong[xiaoyi]."元";}                 ?>
                            <!--  &nbsp; &nbsp;已投：<{$v.yitou}>/今日收益： <{$v.shouyi}> -->
                        </div>
                    </div>
                </div>
            </foreach>
        </div>
        <!-- <foreach name="arr" item="v">
        <div class="list clearfloat fl" onclick="location.href = '<{:U('Chongzhi/xiangmuxiangqing')}>?xiangmu_id=<{$v.xiangmu_id}>'">
            <div class="zuo clearfloat fl">
                <img src="__PUBLIC__/images/<{$v.images}>" class="wenzhang_img"/>
                <ul>


                    <li style="font-size: 18px;"><{$v.xiangmu}></li>
                </ul>
            </div>
            <div class="zuo clearfloat fl" style="font-size: 14px; color:#e3571a;">
                <?php if($v['edu']==0){echo "总投资金额".$v[yitouzi]."元";}else{
                $z['xiangmu_id']=$v['xiangmu_id'];
                $zong=M('xiangmu')->where($z)->find();

                echo "总收益".$zong[zongshouyi]."元";}                 ?>
                <!总投资额  <{$v.zonge}>元/总收益:<{$v.xiaoyi}> -->
        <!-- </div>
        <div class="you clearfloat fr" style="margin-top: -30px;">
            <?php if($v['edu']==0){echo "已投".$v[yitou]."元";}else{echo "今天收益".$zong[xiaoyi]."元";}                 ?> -->
        <!--  &nbsp; &nbsp;已投：<{$v.yitou}>/今日收益： <{$v.shouyi}>
        </div>
    </div>
    </foreach> -->
    </div>
</div>
<!-- paihang end -->
<!--xgtouzi star-
<div class="xgtouzi clearfloat">
    <div class="top clearfloat">
        <img src="__PUBLIC__/img/55.png"/>
    </div>
    <div class="middle clearfloat">
        <img src="__PUBLIC__/img/16.png"/>
        <img src="__PUBLIC__/img/18.png"/>
    </div>
    <div class="bottom clearfloat">
        长按识别二维码
    </div>
    <!-- <div class="list clearfloat">
        <a href="#">发布计划</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#">新手课堂</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#">关于我们</a>
    </div> -
</div>->
<!--xgtouzi end-->
<!--footer
<div class="footer clearfloat">
    <ul>
        <li class="fl box-s">
            <a href="<{:U('index/index')}>">
                <span class="icon1"></span>
                <p>首页</p>
            </a>
        </li>
        <li class="fl box-s active">
            <a href="shouyi.html">
                <span class="icon2"></span>
                <p>收益</p>
            </a>
        </li>
        <li class="fl box-s">
            <a href="<{:U('User/index')}>">
                <span class="icon3"></span>
                <p>我</p>
            </a>
        </li>
    </ul>
</div>
end-->
</div>
<!--footer star-->
<div class="footer clearfloat">
    <ul>
        <li class="fl box-s active">
            <a href="<{:U('Index/index')}>">
                <span class="icon1"></span>
                <p>首页</p>
            </a>
        </li>
        <li class="fl box-s">
            <a href="<{:U('Shouyi/index')}>">
                <span class="icon2"></span>
                <p>收益</p>
            </a>
        </li>
        <li class="fl box-s">
            <a href="<{:U('User/index')}>">
                <span class="icon3"></span>
                <p>我的</p>
            </a>
        </li>
    </ul>
</div>
<!--footer end-->
</body>
