<!--_meta 作为公共模版分离出去-->
<include file='Index/meta'/>
<!--/meta 作为公共模版分离出去-->

<title>小说管理</title>  
</head>  
<body>
<!--_header 作为公共模版分离出去-->
<include file='Index/header'/>  
<!--/_header 作为公共模版分离出去-->
 
<!--_menu 作为公共模版分离出去-->
<include file='Index/leftmenu' />  
<!--/_menu 作为公共模版分离出去--> 

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 频道管理 <span class="c-gray en">&gt;</span> 小说章节购买记录 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav> 
	
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <i ></i> </a><span >共有数据：<strong><{$shu}></strong> 条</span> </div>
			
			
			<div class="mt-0">  
				<table class="table table-border table-bordered table-bg table-hover table-sort" width="100%">
					<thead>
						<tr class="text-c"> 
							
							<th width="10">ID</th>
							<th width="50">小说名</th>
							<th width="50">购买用户</th>
							
							<th width="50">购买的章节</th>
							<th width="50">总价</th>
							<th width="50">支付代金券</th>
							<th width="50">支付余额</th>
							<!-- <th width="50">订单号</th>
							<th width="30">付款</th> -->
							<th width="50">购买时间</th>
						
							
							
							
						<!-- 	<th width="20">操作</th> -->
							
							 
						</tr> 
						<foreach name="arr" item="v">
						<tr class="text-c"> 
							<!-- <td width="100"><{$v.sortid}></td> -->
							
							<td width="20"><{$v.id }></td>
							<td width="82">
								
								<{$v.aid}>
							</td>
							<td width="30"><{$v.user_id}></td>
							
							    
							</td>
							<td width="30"><{$v.path}></td>

							
							<td width="30"><{$v.allprice}></td>
							<td width="30"><{$v.daijin}></td>
							<td width="30"><{$v.money}></td>
							<!-- <td width="30"><{$v.numbers}>
							 	
							</td> -->
							<!-- <td width="30">
								<if condition="$v.state eq 1">已付款
									<else/>未付款
								</if>
</td> -->
							<td width="30"><{$v.addtime}></td>
							
							
							
							
							
							
							
							<!-- <td width="30"><a title="编辑频道栏目" href="<{:U('edit')}>?id=<{$v.sortid}>&type=1"  class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> </td> -->
						</tr> 
					</foreach>
					</thead> 
					<tfoot>
						
					</tfoot>
				</table>
				<{$btn}>
			</div>
		</article>
	</div> 
</section>

<!--_footer 作为公共模版分离出去-->
<include file='Index/footer'/>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript"> 
 
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>