<!--_meta 作为公共模版分离出去-->
<include file='Index/meta'/>
<!--/meta 作为公共模版分离出去-->

<title>完结管理</title>  
</head>  
<body>
<!--_header 作为公共模版分离出去-->
<include file='Index/header'/>  
<!--/_header 作为公共模版分离出去-->
 
<!--_menu 作为公共模版分离出去-->
<include file='Index/leftmenu' />  
<!--/_menu 作为公共模版分离出去--> 

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 频道管理 <span class="c-gray en">&gt;</span> 男频列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav> 

	<div class="Hui-article">
		<article class="cl pd-20"> 
			<div class="text-c"> 
		<form action="<{:U(wanjie)}>" method="post">
		<input type="text" class="input-text" style="width:250px" placeholder="输入小说/作者名"  name="id">
		<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索小说</button>
		</form>
	</div> 
	
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <i ></i> </a><span >共有数据：<strong><{$shu}></strong> 条</span> </div>
			
			
			<div class="mt-0">  
				<table class="table table-border table-bordered table-bg table-hover table-sort" width="100%">
					<thead>
						<tr class="text-c"> 
							
							<th width="10">ID</th>
							<th width="50">小说名</th>
							<th width="50">作者</th>
							<th width="50">栏目</th>
							<!-- <th width="20">操作</th>							 -->
							 
						</tr> 
						<foreach name="arr" item="v">
						<tr class="text-c"> 
							<!-- <td width="100"><{$v.sortid}></td> -->
							
							<td width="20"><{$v.articleid}></td>
							<td width="100"><{$v.articlename}></td>
							<td width="100"><{$v.author}></td>
							<td width="30"><{$v.articletype}></td>
							
							<!-- <td width="30"><a title="编辑频道栏目" href="<{:U('tsedit')}>?id=<{$v.articleid}>"  class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> </td> -->
						</tr> 
					</foreach>
					</thead> 
					<tfoot>
						
					</tfoot>
				</table>
				<div style="text-align: center;"><{$btn}></div>
			</div>
		</article>
	</div> 
</section>

<!--_footer 作为公共模版分离出去-->
<include file='Index/footer'/>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript"> 
 
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>