<!--_meta 作为公共模版分离出去-->
<include file='Index/meta'/>
<!--/meta 作为公共模版分离出去-->

<title>小说管理</title>  
</head>  
<body>
<!--_header 作为公共模版分离出去-->
<include file='Index/header'/>  
<!--/_header 作为公共模版分离出去-->
 
<!--_menu 作为公共模版分离出去-->
<include file='Index/leftmenu' />  
<!--/_menu 作为公共模版分离出去--> 

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 频道管理 <span class="c-gray en">&gt;</span> 男频列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav> 
	
	
	
			
			<table class="table table-border table-bordered table-bg">
				<thead>
					<tr>
						<th colspan="7" scope="col">信息统计</th>
			</tr>
					<tr class="text-c">
						<th>结算统计</th>
						<th>购买总额</th>
						<th>结算总额</th>
					
			</tr>
		</thead>
			<tbody id="changetr">
					
					<tr class="text-c success">
						<td>总额</td> 
						<td><{$chong}></td>
						<td><{$jie}></td>
						
			  </tr>
					
					<tr class="text-c success">
						<td>详情</td>  
						<td>购买章节数 <{$bi}></td>
						<td>已打款￥<{$yi}> &nbsp;&nbsp;未打款￥<{$wei}></td>
						
			</tr>
			
		</tbody>
	</table>

		<div class="cl pd-5 bg-1 bk-gray mt-20"> <i ></i> </a><!-- <if condition="$_SESSION.guanli neq null"><a href="<{:U('add')}>"  class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加用户</a></if>  --></span><span>共有数据：<strong><{$shu}></strong> 条</span> </div>
			<div class="mt-0">  
				<table class="table table-border table-bordered table-bg table-hover table-sort" width="100%">
					<thead>
						<tr class="text-c"> 
							
							<th width="50">时间</th>
							<th width="50">代理名字</th>
							<th width="50">购买章节数</th>
							<th width="50">购买金额</th>
							<th width="50">佣金比例</th>
							<th width="50">结算金额</th>
							<th width="50">状态</th>
							
							<!-- <th width="50">看币</th> -->
							
							
							<!-- 
							<if condition="$_SESSION.guanli neq null">
							<th width="20">操作</th>
							</if>
							  -->
						</tr> 
						<foreach name="arr" item="v">
						<tr class="text-c"> 
							<!-- <td width="100"><{$v.sortid}></td> -->
							
							<td width="30"><{$v.time}></td>
							<td width="100">
								
								<{$v.name}>
							</td>
							<td width="30"><{$v.num}></td>
							<td width="30"><{$v.money}></td>
							<td width="30">100%</td>
							<td width="30"><{$v.money}></td>
							<if condition="$v.lei eq 0">
							<td width="30"><font color="red">未打款</a></font></td>   
							<else/><td width="30">已打款</td>
						</if>
							

						
							
							
							
							
							<!-- <if condition="$_SESSION.guanli neq null">
							<td >
								<a href="<{:U('chongzhi')}>?id=<{$v.uid }>"><button>充值看币</button></a> 
								<a title="修改" href="<{:U('edit')}>?id=<{$v.uid}>"  class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>  <a  href="<{:U('del')}>?id=<{$v.uid}>" class="ml-5" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
							
							</if> -->
						</tr> 
					</foreach>
					</thead> 
					<tfoot>
						
					</tfoot>
				</table>
				<{$btn}>
			</div>
		</article>
	</div> 
</section>

<!--_footer 作为公共模版分离出去-->
<include file='Index/footer'/>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript"> 
 
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>