<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>团队收益</title>
    <meta name="keywords" content="KEYWORDS..." />
    <meta name="description" content="DESCRIPTION..." />
    <meta name="author" content="DeathGhost" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <link rel="icon" href="__PUBLIC__/images/icon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="__PUBLIC__/images/icon/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="__PUBLIC__/images/icon/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="196x196" href="__PUBLIC__/images/icon/apple-touch-icon-196x196-precomposed.png">
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/page.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/font_712439_a6o3fmynf14/iconfont.css">
    <style>
        .tou_xiang{
            width: 30px; height: 30px;
            border-radius: 50%; vertical-align: middle;
        }
        .r_jiantou{
            width: 20px; height: auto;
        }
        .productList span{
            width: 2.6rem;
            text-align: center;
        }
        em{ font-style: normal;}
        .blue{color: #4d83f7;}
        .productList{background: #fff; padding: 0.5rem;border-bottom: 1px solid #ccc;}
        .invite_friend{width: 22.4%;padding: 0.3rem 0.5rem 0.4rem;border-top:1px solid #ccc;}
        .invite_friend:nth-of-type(-n + 3){border:0; padding-bottom: 0.5rem;}
        .invite_friend:nth-of-type(3n + 2){text-align: center;}
        .invite_friend:nth-of-type(3n){text-align: right;}
        .hhr_btn{
            font-size: 0.4rem;
            background: #f86903;
            color: #fff;
            border-radius: 0.3rem;
        }
    </style>
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/rem.js"></script>
    <script>
        $(document).ready(function() {
            //飞入动画，具体根据实际情况调整
            $('.addToCart').click(function() {
                $('.hoverCart a').html(parseInt($('.hoverCart a').html()) + 1);
                /*测试+1*/
                var shopOffset = $('.hoverCart').offset();
                var cloneDiv = $(this).parent().siblings('.goodsPic').clone();
                var proOffset = $(this).parent().siblings('.goodsPic').offset();
                cloneDiv.css({'position' : 'absolute', 'top' : proOffset.top, 'left' : proOffset.left});
                $(this).parent().siblings('.goodsPic').parent().append(cloneDiv);
                cloneDiv.animate({
                    width   : 0,
                    height  : 0,
                    left    : shopOffset.left,
                    top     : shopOffset.top,
                    opacity : 1,
                }, 'slow');
            });
        });
    </script>
</head>
<body>
<!--header-->
<div class="h_base"></div>
<header>
    <div class="tabHost  box-s">
        <a class="iconfont icon-icon4" href="javascript:history.back(-1);"></a>
        <span>团队收益</span>
        <i class="iconfont icon-msnui-more"></i>
        <!-- <p class="bt">知识分享</p> -->
    </div>
</header>
<section class="productList">
    <ul>
        <li>
            <p style="    font-size: 0.4rem;font-weight: bold;">邀请好友可以获得以下<em class="blue">权限</em>和<em class="blue">收益</em></p>
            <span class="hhr_btn" style="width: 2.3rem;" onClick="location.href='<{:U('Yaoqing/index')}>'">立即投资</span>
        </li>
    </ul>
</section>
<section class="productList" style="padding: 0.5rem 0;">
    <ul>
        <li style="padding: 0 0.7rem 0.5rem;font-weight: bold;border-bottom: 1px solid #ccc;">
            我邀请的好友
        </li>
            <foreach name="arr" item="v">
                <div style="padding: 0.5rem;display: flex;justify-content: space-between;">
                    <span><{$v.xiaji_id}></span>
                    <span>张小三</span>
                    <span>2018-08-02注册</span>
                </div>
            </foreach>
        <!--<div style="padding: 0.5rem;display: flex;justify-content: space-between;flex-wrap: wrap;">
            <foreach name="arr" item="v">
                <p class="invite_friend">
                    <{$v.xiaji_id}>
                </p>
            </foreach>
        </div>-->
    </ul>
    <!-- <a class="more_btn">加载更多</a> -->
</section>
<section class="productList" style=" margin-top:20px;">
    <ul>
        <li style="    font-weight: bold;">
            <span>投资收益</span>
            <span class="right_l">收益</span>
        </li>
        <foreach name="info" item="m">
            <li>
                <!--<span class="hong_ziti"><{$m.time}></span>-->
                <span class="left_l hong_ziti"><{$m.time}></span>
                <em>伙伴<font color="green"><{$m.xiaji_id}></font>帮您赚了</em>
                <span class="right_l hong_ziti"> <{$m.shouyi}></span>
            </li>
        </foreach>
    </ul>
    <a class="more_btn">加载更多</a>
</section>
<!--footer star-->
<div class="footer clearfloat">
    <ul>
        <li class="fl box-s">
            <a href="<{:U('index/index')}>">
                <span class="icon1"></span>
                <p>首页</p>
            </a>
        </li>
        <li class="fl box-s active">
            <a href="<{:U('Shouyi/index')}>">
                <span class="icon2"></span>
                <p>收益</p>
            </a>
        </li>
        <li class="fl box-s">
            <a href="<{:U('User/index')}>">
                <span class="icon3"></span>
                <p>我</p>
            </a>
        </li>
    </ul>
</div>
<!--footer end-->
</body>
</html>
