<!--_meta 作为公共模版分离出去-->
<include file='Index/meta'/>
<!--/meta 作为公共模版分离出去-->

<title>频道管理</title>  
</head>  
<body>
<!--_header 作为公共模版分离出去-->
<include file='Index/header'/>  
<!--/_header 作为公共模版分离出去-->
 
<!--_menu 作为公共模版分离出去-->
<include file='Index/leftmenu' />  
<!--/_menu 作为公共模版分离出去--> 

<title>频道管理</title>  
</head>  
<body>
<!--_header 作为公共模版分离出去-->
<include file='Index/header'/>  
<!--/_header 作为公共模版分离出去-->
 
<!--_menu 作为公共模版分离出去-->
<include file='Index/leftmenu' />  
<!--/_menu 作为公共模版分离出去--> 

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 频道管理 <span class="c-gray en">&gt;</span> 男频列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav> 
	
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <i ></i> </a><if condition="$_SESSION.guanli neq null"><a onclick="picture_add('添加一级分类','<{:U('add')}>?id=2')"  class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加一级分类</a> </span> <a onclick="picture_add('添加二级分类','<{:U('sjadd')}>?id=2')"  class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加二级分类</a></if> </span> <span class="r">共有数据：<strong><{$shu}></strong> 条</span> </div>
			
			
			<div class="mt-0">  
				<table class="table table-border table-bordered table-bg table-hover table-sort" width="100%">
					<thead>
						<tr class="text-c"> 
							
							<!-- <th width="10">ID</th> -->
							<th width="50">一级分类</th>
							<th width="50">分类图片</th>
							<th width="10">二级分类</th>
							<th width="50">描述</th>
							
							
							
							<if condition="$_SESSION.guanli neq null">
							<th width="50">操作</th>
							</if>
							 
						</tr> 
						<foreach name="arr" item="v">
						<tr class="text-c"> 
							<!-- <td width="100"><{$v.sortid}></td> -->
							
							<td width="100"><{$v.shortname}></td>
							<td width="100"><img src="__PUBLIC__/<{$v.imgurl}>"  width="50"></td>
							<td width="100">
								<?php  foreach($info as $j => $s){
									if($s['layer']==$v['sortid']){
										echo $s['shortname'].' || ' ;
									}
								}
								?><if condition="$_SESSION.guanli neq null">
								 <a title="编辑二级分类"href="<{:U('erji')}>?id=<{$v.sortid}>&type=2"  class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a></if>
							</td>
							<td width="100"><{$v.description}></td>
							
							
							
							
							
							
							
							<if condition="$_SESSION.guanli neq null">
							<td ><a title="编辑一级分类" onclick="picture_add('编辑一级分类','<{:U('edit')}>?id=<{$v.sortid}>&type=2')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> &nbsp; &nbsp; &nbsp; <a  onclick="del('<{$v.sortid}>')" class="ml-5"><i class="Hui-iconfont">&#xe6e2;</i></a></td></if>
						</tr> 
					</foreach>
					</thead> 
					<tfoot>
						
					</tfoot>
				</table>
				<{$btn}>
			</div>
		</article>
	</div> 
</section>

<!--_footer 作为公共模版分离出去-->
<include file='Index/footer'/>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript"> 
 function del(id){
	var con;
	con=confirm("确定删除吗?"); //在页面上弹出对话框
	if(con==true){
		location.href="<{:U('del')}>?id="+id+"&type=2";
	}
}

  function picture_add(title, url) {
        var index = layer.open({
            type: 2,
            title: title,
            content: url,
            shade: 0.6,
		    area:['68%','80%'] 
        });
        // layer.full(index);
    }


   function picture_edit(title, url) {
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>