<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>打卡</title>
    <meta name="keywords" content="">
    <meta name="description" content=""> 
    <script src="__PUBLIC__/js/rem.js"></script> 
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js" ></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/page.css"/>
</head>
	<body>
		<div class="daka clearfloat box-s">
			<div class="top clearfloat">
				<img src="__PUBLIC__/img/62.png"/>
			</div>
			<p class="tishi"><span class="fl"><img src="__PUBLIC__/img/tishi.png"/></span>长按保存图片，分享到朋友圈</p>
			<p class="tishi tishi2"><span class="fl mr">&nbsp;</span>每邀请<span>1</span>位好友扫码，获得<span>2</span>元现金奖励</p>
		</div>
	</body>
</html>
