<!--_meta 作为公共模版分离出去-->
<include file='Index/meta'/>
<!--/meta 作为公共模版分离出去-->

<title>用户管理</title>  
</head>  
<body>
<!--_header 作为公共模版分离出去-->
<include file='Index/header'/>  
<!--/_header 作为公共模版分离出去-->
 
<!--_menu 作为公共模版分离出去-->
<include file='Index/leftmenu' />  
<!--/_menu 作为公共模版分离出去--> 

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户管理 <span class="c-gray en">&gt;</span> 用户列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav> 
	<div class="Hui-article">
		<article class="cl pd-20"> 
			<div class="text-c"> 
		<form action="<{:U(yanzheng)}>" method="post">
		<input type="text" class="input-text" style="width:250px" placeholder="输入用户名"  name="id">
		<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索用户</button>
		</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <i ></i> </a> <!--  </a><a href="<{:U('add')}>"  class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加用户</a> </span> --> <span >共有数据：<strong><{$shu}></strong> 条</span> </div>
			
			
			<div class="mt-0">  
				<table class="table table-border table-bordered table-bg table-hover table-sort" width="100%">
					<thead>
						<tr class="text-c"> 
							
							<th width="100">ID</th>
							<th width="100">用户</th>
							<th width="100">实名</th>
							<th width="100">身份证号码</th>
							<th width="100">正面照片</th>
							<th width="100">反面照片</th>
							<th width="100">状态</th>
							<th width="100">时间</th>
							<th width="100">操作</th>
							
							 
						</tr> 
						<foreach name="arr" item="v">
						<tr class="text-c"> 
							<td width="100"><{$v.id}></td>
							<td width="100"><{$v.user_id}></td>
							<td width="100"><{$v.shiming}></td>
							<td width="100"><{$v.number}></td>
							<td width="100"><img class="simg" src="__PUBLIC__/images/<{$v.zhengimg}>"  width="50"></td>
							<div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">  
    							<div id="innerdiv" style="position:absolute;">  
        							<img id="bigimg" style="border:5px solid #fff;" src="" />  
   								</div>  
							</div>
							<td width="100"><img class="simg" src="__PUBLIC__/images/<{$v.fanimg}>"  width="50"></td>
							<div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">  
    							<div id="innerdiv" style="position:absolute;">  
        							<img id="bigimg" style="border:5px solid #fff;" src="" />  
   								</div>  
							</div>
							<td width="100"><{$v.tongguo}></td>
							<td width="100"><{$v.time}></td>
							
							<td ><a  onclick="chuli('<{$v.id}>')" title="处理"><i class="Hui-iconfont">&#xe631;</i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a   class="ml-5"><i class="Hui-iconfont" onclick="del('<{$v.id}>')">&#xe6e2;</i></a></td>
						</tr> 
					</foreach>
					</thead> 
					<tfoot>
						
					</tfoot>
				</table>
				<{$btn}>
			</div>
		</article>
	</div> 
</section>

<!--_footer 作为公共模版分离出去-->
<include file='Index/footer'/>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript"> 
 function del(id){
	var con;
	con=confirm("确定删除吗?"); //在页面上弹出对话框
	if(con==true){
		location.href="<{:U('yzdel')}>?id="+id+"";
	}
}

 function chuli(id){
	var con;
	con=confirm("验证确定通过?"); //在页面上弹出对话框
	if(con==true){
		location.href="<{:U('yanzheng')}>?id="+id+"&fid=3";
	}else{
		location.href="<{:U('yanzheng')}>?id="+id+"&fid=2";
	}
}
</script>
<script>    
    $(function(){    
        $(".simg").click(function(){    
            var _this = $(this);//将当前的simg元素作为_this传入函数    
            imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);    
        });    
    });    
  
    function imgShow(outerdiv, innerdiv, bigimg, _this){    
        var src = _this.attr("src");//获取当前点击的pimg元素中的src属性    
        $(bigimg).attr("src", src);//设置#bigimg元素的src属性    
        
            /*获取当前点击图片的真实大小，并显示弹出层及大图*/    
        $("<img/>").attr("src", src).load(function(){    
            var windowW = $(window).width();//获取当前窗口宽度    
            var windowH = $(window).height();//获取当前窗口高度    
            var realWidth = this.width;//获取图片真实宽度    
            var realHeight = this.height;//获取图片真实高度    
            var imgWidth, imgHeight;    
            var scale = 0.8;//缩放尺寸，当图片真实宽度和高度大于窗口宽度和高度时进行缩放    
                
            if(realHeight>windowH*scale) {//判断图片高度    
                imgHeight = windowH*scale;//如大于窗口高度，图片高度进行缩放    
                imgWidth = imgHeight/realHeight*realWidth;//等比例缩放宽度    
                if(imgWidth>windowW*scale) {//如宽度扔大于窗口宽度    
                    imgWidth = windowW*scale;//再对宽度进行缩放    
                }    
            } else if(realWidth>windowW*scale) {//如图片高度合适，判断图片宽度    
                imgWidth = windowW*scale;//如大于窗口宽度，图片宽度进行缩放    
                            imgHeight = imgWidth/realWidth*realHeight;//等比例缩放高度    
            } else {//如果图片真实高度和宽度都符合要求，高宽不变    
                imgWidth = realWidth;    
                imgHeight = realHeight;    
            }    
                    $(bigimg).css("width",imgWidth);//以最终的宽度对图片缩放    
                
            var w = (windowW-imgWidth)/2;//计算图片与窗口左边距    
            var h = (windowH-imgHeight)/2;//计算图片与窗口上边距    
            $(innerdiv).css({"top":h, "left":w});//设置#innerdiv的top和left属性    
            $(outerdiv).fadeIn("fast");//淡入显示#outerdiv及.pimg    
        });    
            
        $(outerdiv).click(function(){//再次点击淡出消失弹出层    
            $(this).fadeOut("fast");    
        });    
    }    
</script>   
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>