<!--_meta 作为公共模版分离出去-->
<include file='Index/meta'/>
<!--/meta 作为公共模版分离出去-->

<title>投资管理</title>  
</head>  
<body>
<!--_header 作为公共模版分离出去-->
<include file='Index/header'/>  
<!--/_header 作为公共模版分离出去-->
 
<!--_menu 作为公共模版分离出去-->
<include file='Index/leftmenu' />  
<!--/_menu 作为公共模版分离出去--> 

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 收益管理 <span class="c-gray en">&gt;</span> 项目收益列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav> 
	<div class="Hui-article">
		<article class="cl pd-20"> 
			<div class="text-c"> 
		<form action="<{:U(index)}>" method="post">
		<input type="text" class="input-text" style="width:250px" placeholder="输入用户名"  name="id">
		<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索用户</button>
		</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <i ></i> </a><a href="<{:U('add')}>"  class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加投资</a> </span> <span class="r">共有数据：<strong><{$shu}></strong> 条</span> </div>
			
			
			<div class="mt-0">  
				<table class="table table-border table-bordered table-bg table-hover table-sort" width="100%">
					<thead>
						<tr class="text-c"> 
							
							<th width="10">ID</th>
							<th width="10">用户</th>
							<th width="10">项目</th>
							<th width="150">投入资金</th>
							<th width="150">预计收益</th>
							<th width="50">总收益</th>
							<th width="150">时间</th>
							<th width="80">操作</th>
							
							 
						</tr> 
						<foreach name="arr" item="v">
						<tr class="text-c"> 
							<td width="100"><{$v.id}></td>
							<td width="100"><{$v.user_id}></td>
							<td width="100"><{$v.xiangmu_id}></td>
							<td width="100"><{$v.touzi}></td>
							<td width="150"><{$v.shouyi}>
								<a href="<{:U('index')}>?id=<{$v.id}>&fid=<{$v.xiangmu_id}>&tid=<{$v.touzi}>" " ><button>计算收益并发布</button></td>
							<!-- <td width="100"><{$v.shouyi}></td> -->
							<td width="100"><{$v.zongshouyi}></td>
							<td width="100"><{$v.time}></td>
							
							
							
							<td ><button onclick="tuichu('<{$v.id}>')">退出项目</button></td>
						</tr> 
					</foreach>
					</thead> 
					<tfoot>
						
					</tfoot>
				</table>
				<{$btn}>
			</div>
		</article>
	</div> 
</section>

<!--_footer 作为公共模版分离出去-->
<include file='Index/footer'/>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript"> 
 
</script>
<script>
function dlink(){
document.location.href="index";
}

function tuichu(id){
	var con;
	con=confirm("确定退出该项目的投资吗?"); //在页面上弹出对话框
	if(con==true){
		location.href="<{:U('tuichu')}>?id="+id+"";
	}
}


</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>