<!--_meta 作为公共模版分离出去-->
<include file='Index/meta'/>
<!--/meta 作为公共模版分离出去-->

<title>添加投资</title>
<link href="__PUBLIC__/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/usercss/login.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #pingtuan{
        display:none;
    } 
</style>
</head> 
<body>
    <div class="register-wrap clearfix">
<div class="page-container"> 
    <div class="title"><h2>添加投资</h2></div>
  <form class="form form-horizontal"action="<{:U('xjadd')}>" method="post"> 
    <div class="row cl"> 
      <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>用户：</label>
      <div class="formControls col-xs-8 col-sm-9">
        <input type="text" class="input-text" value="" placeholder="请输入用户名" id="" name="yonghu">
      </div>  
    </div> 
        
       

    
    
    <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>项目选择：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box"> 
                    <select name="xiangmu_id" class="select" id="aa">
                        <option value="0">请选择投资项目</option>
                        <foreach name="arr" item="v">
                        <option value="<{$v.xiangmu_id}>"><{$v.xiangmu}></option>
                        </foreach>
                    </select> 
                </span>
           </div> 
        </div>

    <div class="row cl"> 
      <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>投资金额：</label>
      <div class="formControls col-xs-8 col-sm-9">
        <input type="text" class="input-text" value="" placeholder="请输入投资金额" id="" name="touzi">
      </div>  
    </div> 


        
    
       
    <div class="row cl">
      <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
        <button  class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
        <!-- <button onClick="article_save();" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存草稿</button> -->
        <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
      </div>
    </div>
  </form>
</div>
</div>
<!--_footer 作为公共模版分离出去--> 
<include file='Index/footer'/>
<!--/_footer /作为公共模版分离出去--> 

<!--请在下方写此页面业务相关的脚本-->
 <script type="text/javascript" src="__PUBLIC__/lib/jedate.js"></script>
 <link type="text/css" rel="stylesheet" href="__PUBLIC__/lib/jedate.css">
 <script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<!-- <script type="text/javascript" src="__PUBLIC__/lib/webuploader/0.1.5/webuploader.min.js"></script> -->
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<!-- <script type="text/javascript" src="__PUBLIC__/waibu/h5FileUpload.js"></script> --> 
<script type="text/javascript" src="__PUBLIC__/waibu/Uploadimage.js"></script>
<script src="__PUBLIC__/lib/kindeditor/kindeditor-min.js" type="text/javascript"></script>
<script src="__PUBLIC__/lib/kindeditor/zh_CN.js" type="text/javascript"></script>
<script>
  $("#aa").val();
      function cuxiaos(obj){
        if(obj==1){
          $('.cuxiao').show();
        }else{
          $('.cuxiao').hide();
        }
      }
    </script>
<script type="text/javascript">  
var start = {
    dateCell: '#inpstart',
    format: 'YYYY-MM-DD',
    minDate: '2014-06-16 23:59:59', //设定最小日期为当前日期
  festival:true,
    maxDate: '2099-06-16 23:59:59', //最大日期
   isTime: true,
    choosefun: function(datas){
         end.minDate = datas; //开始日选好后，重置结束日的最小日期
    }
};
var end = {
    dateCell: '#inpend',
    format: 'YYYY-MM-DD',
    minDate: jeDate.now(0), //设定最小日期为当前日期
  festival:true,
    maxDate: '2099-06-16 23:59:59', //最大日期
    isTime: true,
    choosefun: function(datas){
         start.maxDate = datas; //将结束日的初始值设定为开始日的最大日期
    },
  okfun:function(val){alert(val)}
};
jeDate(start);
jeDate(end);
/*提交数据*/
$("#form-article-add").validate({ 
    rules:{ 
        name:{
            required:true,
            minlength:3, 
            maxlength:50
        },
        summary:"required",
        kucun:{
            required:true,
            digits:true
        },
        weight:{
            required:true,
            number:true
        },
        price:{
            required:true,
            number:true
        },
        content:"required",
        groupPrice:{
            required:true,
            number:true
        },
       groupSize:{
            required:true,
            digits:true
        },
       groupValidHours:{
           required:true,
            digits:true
        }

    },
     messages:{
        name:{
            required:"产品名称不能为空", 
            minlength:"请输入不少于3个字符",
            maxlength:"请输入不多于50个字符"   
        },
        summary:"商品简介不能为空",
        kucun:{
            required:"请输入商品库存量",
            digits:"请输入数字"
        },
        weight:{ 
            required:"请输入商品重量",
            number:"请正确输入商品重量数值"
        }, 
        price:{
            required:"请输入商品价格",
            number:"请正确输入价格"
        },
        content:"请输入商品内容",
        groupPrice:{
            required:"请输入拼团折扣",
            number:"请正确输入折扣"
        },
       groupSize:{
            required:"请输入拼团人数",
            digits:"请输入正整数"
        },
       groupValidHours:{
           required:"请输入拼团人数",
            digits:"请输入正整数"
}

    }, 
    submitHandler:function(form){    
           $("form").ajaxSubmit({   
            url : "<{:U('Goods/add')}>",  
            type : "post",   
            dataType : 'json',   
            success : function(data) {    
                 layer.msg('<span style="color:#1C86EE">'+data.msg+'</span>',{icon:16}); 
                 setTimeout(function(){ 
                    window.parent.location.reload(); 
                 },1000);  
            },  
            error : function(data) {    
                alert("error:" + data.responseText);   
            }  
        });  
    }
}); 



/*提交数据*/ 
// $("#submit_ok").click(function() {    
//         $("#form-article-add").ajaxSubmit({  
//             url : "<{:U('Orders/add')}>",  
//             type : "post",  
//             dataType : 'json',  
//             success : function(data) {  
//                 alert("设置成功！");   
//             },  
//             error : function(data) {   
//                 alert("error:" + data.responseText);  
//             }  
//         });  
//     });  

//编辑器
function kedit(kedit){
       var editor = KindEditor.create(kedit,{
           allowFileManager : true,
           formatUploadUrl: false,
           afterBlur: function(){this.sync();}
       });
   }
   $(function(){
       kedit('.textContent');
   })
//编辑器

//显示拼团
$('input:radio[name="groupType"]').change(function(){  
         if($(this).val()==='1'){  //显示拼团给用户填写
                $('#pingtuan').css('display','block'); 
          }else{  //禁止弹出拼团 
                $('#pingtuan').css('display','none');
          }  
      }); 
// $(function(){ 
//     var ue = UE.getEditor('editor');
// });
</script>
</body>
</html>